[2019-04-23 17:17] initmahesh opened #75 "Preserve the device OOBE and all other settings after firmware update"
after each firmware udpate the user need to go through OOBE and will loose all other settings , please provide a wayt o update firmware same as ubuntu does today ...

[2019-04-30 05:04] ebertrams opened #91 "Get started module should report back its ProductInfo to capture telemetry"
Set this "ProductInfo" tag to value "microsoft_iot.edge-ai-vision-dev-kit-get-started-container" using the methods defined here: https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/Iothub_sdk_options.md

[2019-05-01 16:37] ksaye opened #96 "Feature Request: How to display my text out the HDMI"
My goal is to show more than just the label, but to show FPS or the like.  I do not see the ability to write to the screen.

[2019-05-16 19:07] wickste opened #124 ""switch directory" UX doesn't resolve friendly directory names"
![image](https://user-images.githubusercontent.com/19159740/57880234-196eb000-77d3-11e9-8e7b-f450c4a3c66c.png)

[2019-05-31 22:57] veyalla opened #166 "device should use a proper hostname and be configured to be reachable at <hostname>.local"
The device doesn't broadcast a proper hostname. Internally it seems to have `qcs605-32`. It should also have a proper name like *aivisiondevkit*.

Further for better user experience when using ssh or webview from local module, it should be reachable using aivisiondevkit.local

See: https://www.howtogeek.com/167190/how-and-why-to-assign-the-.local-domain-to-your-raspberry-pi/

[2019-07-01 21:12] ancaantochi opened #202 "OOBE changing Wifi should trigger a deployment"
After changing wifi setting cameraIP changes and webstreammodule should be redeployed so it takes the new value for env variable RTSP_IP

[2019-07-26 19:35] jkubicka opened #206 "Sleep Timer / Auto shutdown"
Develop and implement sleep timer or auto shutdown (after x minutes) feature to conserve battery.

Users have found that the battery life doesn't last long (~2 hours), so when they attempt to turn it on, it's usually dead and needs to be charged again.

[2019-07-31 18:21] jkubicka commented on #166
First half of this issue, host name, was fixed.

[2019-08-05 09:10] philipcaffeine opened #207 "Reset cam needed for pic capturing"
We tried to get a picture from the camera using the description I found here:
https://github.com/microsoft/vision-ai-developer-kit/tree/master/rest-api-postman-collection
But using
http://{{hostIp}}:1080/captureimage
works only sporadically and after that, the cam most often needs to be reset

From: Hans Stanglmayr

[2019-08-05 09:19] philipcaffeine opened #208 "Picture capturing with RTSP stream"
To capture pic, another solution would be to get the RTSP stream and extract a JPG from there.
But for that we couldn’t find out how to install a package like FFMPeg…

from: Hans Stanglmayr

[2019-08-05 09:21] philipcaffeine opened #209 "How to play noise 7 sound for the loudspeaker"
Seems to be that, the cam is equipped with a loudspeaker, but we didn’t find a way how to play a noise 7 sound on it..
All if found was this on the internal Teams channel:

Interacting with the mic and speaker using arecord, amixer and aplay.  When I run the command like alsamixer, it says "no such device", as shown below:
root@da9fcb50d27e:/# apt list --installed | grep alsa-utils

alsa-utils/bio

[2019-08-05 09:21] philipcaffeine opened #210 "OODB issue"
Using the device as Access Point. When doing an initial setup, we found out that connecting to an IoT Hub using an existing IoT Edge connection string in the following screen didn’t work. It seems that the camera works properly (indicated by 3 green LEDs), but no video is displayed on the IP address listed:

Creating a new device entry using the provided code makes things working.

[2019-08-05 09:21] philipcaffeine opened #211 "Home directory in SSH remote login"
Also, when creating credentials for SSH remote login, it seems that for the user no home directory was created, not a big issue, but a bit rough. Also something seems wrong with the IoT Edge Runtime:

Doing the same, but instead of using an existing connection string, creating a new device using the supplied code from the device, it seems all to work.

[2019-08-05 18:04] jkubicka commented on #207
Hi @drwill-ms any insight into this?

[2019-08-05 18:13] jkubicka commented on #210
Hi @philipcaffeine Using an existing connection string only works if the device is a camera and the vision sample is deployed to the device.

[2019-08-05 18:15] ericwol-msft commented on #207
drwill-ms is out of office until September.

[2019-08-05 18:38] mmydland commented on #207
I suspect that this is due to a known issue with the RTSP stream setup. When the VAM is turned on prior to the first capture image, the camera become unstable and usually needs to be restarted.

The workaround is to capture an image (call GET on http://{{hostIp}}:1080/captureimage) before making a call to configure the VAM  (POST on http://{{hostIp}}:1080/vam)

[2019-08-06 02:14] Devinwong commented on #211
Philip, could you elaborate on the second issue? I don't understand what issue it's about IoTEdge Runtime.
_Doing the same, but instead of using an existing connection string, creating a new device using the supplied code from the device, it seems all to work._

[2019-08-07 11:18] lokijota opened #212 "Can I reconfigure the wifi via the shell? [Support Needed]"
I've received the device recently and set it up for my home network. I've now brought it to work and want to use it with the corp wifi. Is there a way to reconfig the wifi w/out repeating the setup?

I've shell'ed into the device and tried doing it manually using the command line, but it doesn't seem to work, following instructions such as these (that work on my Pi's):

**For Wep or no password:**

[2019-08-07 17:43] jkubicka commented on #212
Hi @lokijota is the device MAC address registered on https://openwifi/ ?

[2019-08-07 18:27] jkubicka commented on #209
Hi @philipcaffeine please get in touch with Kevin Saye, he's been working on something similar to this and might be able to help.

[2019-08-07 18:29] jkubicka commented on #212
Hi @lokijota unfortunately, the only way to reconfigure Wi-Fi settings is via setup and pressing and holding the power button on the back for 5+ seconds until the device goes into SoftAP mode. Then Connect and reconfigure from there.

[2019-08-07 20:22] lokijota commented on #212
I eventually gave up trying and went with the UI, it's just not very convenient, as I keep alternating between the office and home, and the process takes a while. If it were scriptable it'd probably be much faster and avoid the networking switching process. Isn't there any direct way of doing it in the shell, some configurations file? I mean, I assume the web UI is making some changes, right?

(re

[2019-08-07 23:21] jkubicka commented on #212
We haven't found any other way to do it. The OOBE / setup should only take a few minutes.

We'll make note to improve user experience for WiFi configuration.

[2019-08-07 23:23] jkubicka commented on #212
If you do find a way to update WiFi settings via config file, please let us know.

[2019-08-07 23:27] jkubicka commented on #212
WiFi configuration file isn't accessible for security reasons.

[2019-08-08 10:17] lokijota commented on #212
It's like re-configuring Alexa every time I want to use it :p . Thanks anyway for the help, I'll try to find a way anyway.

[2019-08-08 14:56] #212 closed

[2019-08-13 02:51] SLdragon opened #213 "shrink repo"
Hi, team, we found vision-ai-developer-kit repo is large, it takes about 700+M, clone this repo would take about 2~3 minutes. Can we shrink this repo?

![image](https://user-images.githubusercontent.com/5545529/62911765-20986080-bdb8-11e9-85b8-42ae46a4420c.png)

Some reference:
https://stackoverflow.com/questions/5613345/how-to-shrink-the-git-folder

[2019-08-14 16:12] juniem opened #216 "OOBE - creating a new IoT Edge should instruct not to use spaces"
During OOBE user can create a new IoT Edge device. There is no indication in UI that the IoT Edge device can't contain spaces. User is not able to continue if the device name has space on it, but the user has no idea why.

Instructions should be added to next FW release.

![image](https://user-images.githubusercontent.com/46569137/63037144-551d2280-be73-11e9-9d34-bdbb473a486b.png)

[2019-08-14 17:55] jkubicka commented on #210
Closing - please re-open if you're still having any issues.

[2019-08-14 17:55] #210 closed

[2019-08-16 19:41] juansuerogit opened #220 "1. WIFI breaks everytime i update module twin. 2. Update takes an eternity"
im able to setup initially but when i update the module twin with the new A.I sample for hardhat detection it takes a really long time to act. then the vision camera turns 3 red LED which means ready for setup? after quite some time it finally turns amber then green but i cant connect to video stream anymore at http://192.168.1.168:3000 if i adb shell into the device i can curl 127.0.0.1:3000 and

[2019-08-16 19:44] juansuerogit commented on #220
adb shell
/ # ifconfig wlan0
wlan0     Link encap:Ethernet  HWaddr 00:0A:F5:6E:C4:8B
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:0 errors:0 dropped:0 overruns:0 frame:0
          TX packets:0 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:3000
          RX bytes:0 (0.0 B)  TX bytes:0 (0.0 B)

/ # curl 127.0.0.1:3000
<!DOCTYPE html><html><hea

[2019-08-19 02:30] Devinwong commented on #75
The current firmware flash methodology is provided by Qualcomm and is a clean flash. That means we are not able to preserve anything, by design. This request won't be able to implement before Over-The-Air update feature is done.

[2019-08-19 03:18] Devinwong commented on #124
still finding a proper way to retrieve directory friendly name information

[2019-08-19 06:52] Devinwong commented on #202
@AltekJimmyChang , please make sure the value of RTSP_IP in default deployment.json gets updated after the wifi is reconfigured. Then please trigger the deployment again.

[2019-08-19 06:53] Devinwong commented on #216
@AltekJimmyChang, please add a check of a space in iotedge name. Now the error is not handled by UI.

[2019-08-19 18:12] jkubicka commented on #220
Hi @juansuerogit In adb shell, can you do "ping www.bing.com" to check Wi-Fi connection.

[2019-08-20 03:08] Devinwong commented on #202
we discussed further about this issue. If we only reconfigure WiFi but not sign into Azure, we are not able to set the deployment. A suggestion is to modify the webstream module such that it gets the IP address from the device itself on runtime, like rtsp_ip = utility.getWlanIp()

[2019-08-20 16:34] juansuerogit commented on #220
meta@meta:~$ adb shell
/ # ping 8.8.8.8
connect: Network is unreachable
/ # ping www.bing.com
PING www.bing.com (192.168.143.1) 56(84) bytes of data.
64 bytes from 192.168.143.1: icmp_seq=1 ttl=64 time=0.155 ms
64 bytes from 192.168.143.1: icmp_seq=2 ttl=64 time=0.118 ms

no wireless network being publish out to the room so i can changed the setup.

ip a
6: wlan0: <NO-CARRIER,BROADCAST,MULTICAST,U

[2019-08-20 16:41] jkubicka commented on #220
Looks like no Wi-Fi connection via device (as Wi-Fi proxy) - is there another Wi-Fi you can connect to?

[2019-08-20 16:45] juansuerogit commented on #220
wifi in my home works the first time starting from scratch.    but not subsequently.   i do not have another wife i can connect to.

[2019-08-20 17:05] jkubicka commented on #220
Can you try another Wi-Fi like at a cafe? And see if that makes a difference.

[2019-08-23 14:29] lokijota opened #226 "Not getting inferences when running camera-sdk\main_local.py"
Hi,

I'm having a couple of issues with the camera-sdk\main_local.py file. I'm running this on Windows on VSCode, and doing step-by-step debug.

a) when I run the sample, having previously corrected the IP to the right one, there's a debug that writes out:
`
2019-08-23 15:59:22,796 - iotccsdk - INFO - camera - _get_preview_info:382 - preview url: rtsp://10.60.176.131:8900/live`

If I point VLC at

[2019-08-23 14:56] lokijota commented on #226
Ok, I just figured out the answers to both questions.

a) the stream in the **8902** port has only the inferences/bounding boxes, it's not a video stream, so VLC doesn't work with it;

b) Gstreamer has to be installed manually, and added to the PATH, or the code doesn't work and fails silently.

[2019-08-23 14:56] #226 closed

[2019-08-23 16:03] initmahesh opened #227 "Need to python sdk documentation from sdk to repo that can be accessed"
the python sdk has documentation that need to be hosted at some link in GitHub repo here ,,,

[2019-08-27 05:10] Devinwong opened #232 "AiVisionDevKitGetStartedModule failed to build as docker image"
Build samples\official\ai-vision-devkit-get-started\deployment.template.json in VS Code

Step 13/15 : RUN pip install iotccsdk-0.1.0+dev.tar.gz
---> Running in f6ff1e0a85b3
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Processing ./iotccsdk-0.1.0+dev.tar.gz
    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -c 'import sys, setuptools, t

[2019-08-27 22:26] juniem opened #234 "Reset device experience shows wrong leds"
Repro steps: Set up Vision AI Dev Kit normally. Press the power button for 5 seconds, have device to run AP mode, log to device's WiFi and when prompted the web page select to "reset the device".

Reset feature itself runs normally, but the device led colors don't match the expected colors. I have several repros where device leds blinked amber during the whole OOBE experience. This is really confu

[2019-08-30 00:49] vidushv opened #235 ""Tutorials" and "Train in Notebook" links point to incorrect directory"
Links under "Next Steps" section of 00-aml-configuration.ipynb are not working, not sure where they are supposed to point.

[2019-08-30 18:06] jkubicka commented on #234
Jussi reported at least 10 devices with incorrect LED's. Would bump this issue into a higher priority.

[2019-08-30 18:35] manashgoswami commented on #235
Updated with PR #237

[2019-09-02 05:30] Devinwong commented on #234
Checked with Altek.
This is by design.
Blinking oranges = Static green + blinking Red
= It's connected to IoT Hub and the device is ready for setup.
Could we add this row in the LED's table to explain this?

[2019-09-03 21:33] drwill-ms commented on #207
Hi, I'm back in the office. I haven't used that API (just committed the Postman API collection created by a colleague), but I think Mark's insight is probably a good direction.

[2019-09-05 17:11] #235 closed

[2019-09-09 18:47] TELEMEMORY opened #239 "Azure IoT Edge Runtime not resolving"
The Azure IoT Edge runtime download has not stopped running for multiple hours.  http://setupaicamera.ms/ - i don't know what is happening.  I cannot move to test the camera because I can't get past this screen

![IOT_RUNTIME_ISSUE](https://user-images.githubusercontent.com/51130140/64557966-650c1300-d308-11e9-80e6-f05b22ded99f.png)

[2019-09-09 20:26] jkubicka commented on #239
Hi @TELEMEMORY What firmware version are you running on the device?

[2019-09-09 21:05] TELEMEMORY commented on #239
v0.4940_Perf

[2019-09-09 21:05] TELEMEMORY commented on #239
This is the default firmware that ships with the product

[2019-09-09 21:07] jkubicka commented on #239
@patgarr any idea why OOBE is stuck on this screen, and how to get past?

[2019-09-09 22:46] patgarr commented on #239
On that page it is primarily downloading and spinning up the individual container modules so it could either be an issue with network connectivity or the docker configuration.  @TELEMEMORY - can you send some basic logs, we can take a look and see if there is something more specific we can recommend.  If you open a command prompt where you installed the platform tools, you can run the following an

[2019-09-10 14:44] TELEMEMORY commented on #239
Sorry - I am not sure how to run these commands.  I am running ADB.exe from the powershell but when I run this code I get errors.

[2019-09-11 03:04] TELEMEMORY opened #240 "Sorry - I am not sure how to run these commands. I am running ADB.exe from the powershell but when I run this code I get errors."
No plug and play support. OOF - going back to school

[2019-09-11 18:02] jkubicka commented on #240
Hi @TELEMEMORY is this in reference to ticket 239?

https://github.com/microsoft/vision-ai-developer-kit/issues/239

[2019-09-11 18:07] jkubicka commented on #239
@TELEMEMORY try opening a command prompt as an administrator, then

cd <platforms tools path>

then try running these log commands.

[2019-09-11 18:08] jkubicka commented on #240
Resolving this one as duplicate, and resuming support in https://github.com/microsoft/vision-ai-developer-kit/issues/239

[2019-09-11 18:08] #240 closed

[2019-09-13 18:05] jkubicka commented on #239
@TELEMEMORY Here are the instructions on how to install/use platform tools:

https://azure.github.io/Vision-AI-DevKit-Pages/docs/platform_tools/

[2019-09-13 18:07] jkubicka commented on #232
@mmydland @initmahesh Hi there, any update on this one?

[2019-09-13 18:08] jkubicka commented on #227
Hi @initmahesh can you please provide more details into what's needed here?

[2019-09-13 18:10] jkubicka commented on #216
@Devinwong  @AltekJimmyChang Any update on this bug?

[2019-09-13 18:13] jkubicka commented on #207
@mmydland @drwill-ms Do you think a fix will go out for this?

[2019-09-13 18:14] jkubicka commented on #91
@ancaantochi Any update on this one?

[2019-09-13 18:20] jkubicka commented on #211
Hi @philipcaffeine could you provide more details?

[2019-09-13 18:21] jkubicka commented on #208
Closing issue, please re-open if issue still exists.

[2019-09-13 18:21] #208 closed

[2019-09-13 18:24] jkubicka commented on #206
Keeping open as future product enhancement.

[2019-09-16 18:01] TELEMEMORY opened #241 "This link does not work - https://azure.github.io/Vision-AI-DevKit-Pages/docs/Wi-Fi_issues/"
No working - https://azure.github.io/Vision-AI-DevKit-Pages/docs/Wi-Fi_issues/

[2019-09-16 18:08] TELEMEMORY commented on #234
I have a device slowly blinking Red.  Not even amber blinking or red consistent blinking.  This is a new thing.

[2019-09-16 22:20] jkubicka commented on #234
@TELEMEMORY Find the device ID (MSIoT-XXXXXX) in your Wi-Fi tray and connect for setup.

[2019-09-17 01:05] TELEMEMORY commented on #234
Jan.

It does not work.  I’ve tried multiple times.  It does not recognize the password I previously set up on the device for wifi connection and I have no idea what is going on.

From: Jan Kubicka <notifications@github.com>
Sent: Monday, September 16, 2019 5:21 PM
To: microsoft/vision-ai-developer-kit <vision-ai-developer-kit@noreply.github.com>
Cc: Eliot Arnold <eliot@telememory.co>; Mention <me

[2019-09-17 01:18] TELEMEMORY opened #242 "Device password reset - How do you do this?"
It seems there is a wifi password that I cannot remember on the device.  I cannot connect to the device to try and update firmware.  Is there another way to connect to the device?  Via USB-C?  Other?

[2019-09-17 03:52] jkubicka commented on #234
@TELEMEMORY SSH password or device password? If device password for device setup, try the password on the tag on the bottom of the device.

[2019-09-17 19:20] juniem commented on #241
Fixed this. The correct link is [https://azure.github.io/Vision-AI-DevKit-Pages/docs/wifi_issues/](https://azure.github.io/Vision-AI-DevKit-Pages/docs/wifi_issues/)

[2019-09-17 19:20] #241 closed

[2019-09-17 19:28] juniem commented on #242
The default password should be on in a label on the bottom of the device. That should work unless you have changed it. The way to update (reflash) firmware is to do it using platform tools. https://azure.github.io/Vision-AI-DevKit-Pages/docs/platform_tools/. It should set the password back to the default one.

You can connect to the device using USB-C and platform tools. The provides you basically

[2019-09-17 19:43] bmount commented on #239
Following up on the discussion in Gitter, I'll attach the adb logs for "Peabody" described above (which I'm assuming shares some DNA with: https://github.com/sseiber/peabody-local-service ?).

[Peabodylogs.txt](https://github.com/microsoft/vision-ai-developer-kit/files/3623099/Peabodylogs.txt)

(Incidentally, that second, peabody-local-service project seems to run, though there is no camera output

[2019-09-17 21:02] bmount opened #243 "Native samples, toolchain, and/or BSP"
This is perhaps a meta feature request, escalated here from Gitter per discussion with @jkubicka. It would be great to have minimal examples of eg:

- compiling native code for the devkit and linking to runtime dependencies like SNPE
- reading directly from the camera (either opening a device file and issuing ioctls a la video4linux, or whatever low-level zero-copy API is available)
- (maybe) usin

[2019-09-18 01:36] TELEMEMORY commented on #241
Thanks

Sent from my iPhone

On Sep 17, 2019, at 2:20 PM, Jussi Niemelä <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #241<https://github.com/microsoft/vision-ai-developer-kit/issues/241>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/microsoft/vision-ai-developer-kit/issues/241?email_sourc

[2019-09-18 18:04] jkubicka commented on #243
Hi @bmount looking into this.

@patgarr any insight into this?

[2019-09-18 18:51] jkubicka commented on #242
Hi @TELEMEMORY Closing this issue. You can also find answers to your questions/issues on our Get Help page:

https://visionaidevkitsupport.azurewebsites.net/?q=device%20password

[2019-09-18 18:51] #242 closed

[2019-09-18 19:35] jkubicka commented on #239
@TELEMEMORY Closing this issue. Please re-open if you're still having this issue.

@bmount Is this a new issue or duplicate of https://github.com/microsoft/vision-ai-developer-kit/issues/243? If new issue, please create a new GitHub ticket.

If this is a duplicate issue of https://github.com/microsoft/vision-ai-developer-kit/issues/243, we'll address in that ticket thread instead.

[2019-09-18 19:35] #239 closed

[2019-09-20 18:43] jkubicka commented on #243
@bmount We have the Python SDK for the camera which allows you to do your own application in Python. That SDK enables custom apps using the camera APIs.  https://github.com/microsoft/vision-ai-developer-kit/tree/master/camera-sdk

The SNPE SDK is also available so if the custom app also wants to do a custom model conversion to SNPE that might be doable https://developer.qualcomm.com/software/qualc

[2019-09-23 11:41] VVillar opened #245 "Please helpme device stopped working after first setup"
Hello,

Please I need help. I configured my device Vision AI DevKit but when I reestarted I can not initiate again, the lights are Green but I cannot find the IP Adress I when I push the button for 5 seconds I cannot configure it again.

I ran the command:
adb shell cat /data/misc/wifi/hostapd_virtual.conf

and the output differs from the troubleshooting page:
Page:
https://azure.github.io/Vision-

[2019-09-23 13:36] nicolaerosia opened #246 "Yocto layer, OS sources"
Where can I get the Yocto layer to build the OS?
Are there are instructions available to flash my own build?

[2019-09-23 14:10] v-joveri commented on #245
Hi @VVillar

Can you please try to press the power button for 12 seconds, this will reset the device to oobe again.

Regards
João Veríssimo

[2019-09-23 18:30] jkubicka commented on #245
@VVillar We've seen this issue before, and currently investigating. Try pressing and holding the power button on the back of the device between 4 and 6 seconds. LEDs should start blinking red, going into the SoftAP mode and the device SSID will show up in your Wi-Fi tray.

Otherwise, the best option would be to execute a firmware update:

https://azure.github.io/Vision-AI-DevKit-Pages/docs/Firmwar

[2019-09-23 20:08] jkubicka commented on #246
@nicolaerosia We have the Python SDK for the camera which allows you to do your own application in Python. That SDK enables custom apps using the camera APIs. https://github.com/microsoft/vision-ai-developer-kit/tree/master/camera-sdk

The SNPE SDK is also available so if the custom app also wants to do a custom model conversion to SNPE that might be doable https://developer.qualcomm.com/software/

[2019-09-24 07:43] Devinwong commented on #216
This was fixed. And will be released with the coming firmware update

[2019-09-24 07:50] Devinwong commented on #245
@VVillar , when you saw a static green light, were you able the see the HDMI output with inference results? If yes, that meant the device IoTEdge was running in offline mode because somehow the internet was not connected.
If it couldn't connect to the configured AP profile, you can use the following command from _adb shell_.
**_connectap <SSID> <passphrase> -1_**
This command will try to connect t

[2019-09-24 10:37] VVillar commented on #245
Hello, I download the firmware files, copied into the same adb folder (C:\platform-tools), tried executing a firmware update, but it failed, now the light is red all time and the PC doesn't recognize the devkit trough the usb port.

The messages that I received in the command prompt when I tried to upgrade the version double clicking FastbootUpgrade_v6_4.bat:
Rebooting to fastboot mode ('The green

[2019-09-24 10:54] VVillar commented on #245
Hello @jkubicka , @Devinwong

I tried the 3 advices, first tried to update firmware, the lights turned to red, then I pressed the power button and lighs turned on again, I tried with the command connectap -1 this is the result, don't know how to continue.

![image](https://user-images.githubusercontent.com/1483310/65505658-15991b80-dea0-11e9-907d-6f139cf3cb47.png)

Please help me.

[2019-09-24 11:16] nicolaerosia commented on #246
I've sent an email to `opencode@microsoft.com` regarding the GPL license violation.

[2019-09-24 16:58] jkubicka commented on #216
@Devinwong Thanks Devin.

We'll close this ticket once the update goes out.

[2019-09-24 18:05] jkubicka commented on #245
@VVillar Device may not be charged, try charging for at least 2 hours and flash again. Were you able to set up the device after you flashed the device the first time?

[2019-09-24 20:38] jkubicka commented on #246
@nicolaerosia thanks for bringing this to our attention and reaching out to our open source programs office. Microsoft takes the GPL very seriously.  I’ve been in touch with our open source team and I understand they should be reaching out shortly to help resolve the issue.

[2019-09-24 20:38] #246 closed

[2019-09-25 00:25] jkubicka commented on #207
Closing issue for now, please re-open if issue persists and additional support is needed.

[2019-09-25 00:25] #207 closed

[2019-09-25 01:18] initmahesh commented on #232
I was able to build from master recently thsi can be closed

[2019-09-25 01:18] #232 closed

[2019-09-25 02:04] Devinwong commented on #245
@VVillar , sorry there was a typo. the command should be     connectap <SSID> <passphrase> -1
for example, these are the logs from my side.

/ # connectap ASUS_5G password -1
[Connect AP] SSID=ASUS_5G, key=password, Security=-1
wlan.ko exists!
kill wpa_supplicant!
killall: wifimonitor: no process killed
[Scan AP]
Successfully initialized wpa_supplicant
eap_proxy:eap_proxy_get_imsi: Not initialized

[2019-09-25 06:58] Devinwong commented on #245
@VVillar  when you saw the ip address gone, could you try if you are still connecting to internet? for example adb shell ping 1.1.1.1

[2019-09-25 21:32] VVillar commented on #245
Hello @jkubicka , yes I was able to complete the first setup, when I tried to update the firmware the battery was at 90%. But I couldn't do it.

[2019-09-25 21:42] VVillar commented on #245
Hello @Devinwong , this is the result of the command
![image](https://user-images.githubusercontent.com/1483310/65641857-3a86af00-dfc4-11e9-9514-5735e22365b7.png)

[2019-09-25 21:58] VVillar commented on #245
This is the result of that command
![image](https://user-images.githubusercontent.com/1483310/65642658-39ef1800-dfc6-11e9-8efd-d693b687bef2.png)

When I type the command adb shell ifconfig wlan0
This is the result:
![image](https://user-images.githubusercontent.com/1483310/65642753-63a83f00-dfc6-11e9-828a-01375245f40e.png)

[2019-09-26 04:37] Devinwong commented on #202
Will update the default deployment json from specifying wlan0 IP address to localhost, so that we don't need changing the RTSP_IP value when WiFi network changes.

[2019-09-26 13:48] nicolaerosia commented on #246
great

[2019-09-26 23:30] #243 closed

[2019-09-27 18:02] jkubicka commented on #245
@VVillar It looks like you have the device working - can you check Azure Portal for your IoT Hub?

[2019-09-27 20:06] VVillar commented on #245
Hello @jkubicka I deleted the IoTHub expecting that can take me to reset the device, what can I do now that I dont have the IoT hub in Azure. Please help me.

[2019-09-27 20:44] jkubicka commented on #245
@VVillar Create a new one in your Azure Portal, and then go through device setup again by holding the power button for 5-6 seconds, LEDs will blink red, and connect to the device in your Wi-Fi tray and proceed through the setup steps. In device setup, the new Hub should show up under the subscription screen.

https://azure.github.io/Vision-AI-DevKit-Pages/docs/quick_start/#connect-your-pc-to-the-c

[2019-09-28 07:54] VVillar opened #247 "modules/AIVisionDevKitGetStartedModule/python_iotcc_sdk/README.md link doesn't work"

[2019-09-28 08:51] VVillar commented on #245
Hello @jkubicka when I push the button for 5-6 seconds the lights turn green again and I cant see the wifi ssid of the kit, so I cant configure it again. Is there any additional option to reset the device so I can configure again the device?
![image](https://user-images.githubusercontent.com/1483310/65814090-eb9f6c00-e1b3-11e9-9226-8204441332ee.png)

[2019-09-28 11:19] VVillar commented on #245
Hello @jkubicka @Devinwong I reflashed the device using this link https://azure.github.io/Vision-AI-DevKit-Pages/docs/Recover_device/ , now I can see the network and I completed the setup process again successfully.

[2019-09-30 14:21] PuneetRahejaMS commented on #247
@VVillar Thank you for pointing it out. Let me look into it and I'll get back

[2019-09-30 15:27] PuneetRahejaMS commented on #247
@VVillar can you let me know where exactly is the above path located? I could not find it in the Code section

[2019-10-01 12:35] VVillar commented on #247
https://github.com/microsoft/vision-ai-developer-kit/tree/master/samples/official/ai-vision-devkit-get-started

![image](https://user-images.githubusercontent.com/1483310/65962319-c5393500-e42e-11e9-82c9-b4a0c8c17411.png)

[2019-10-01 19:28] jkubicka commented on #245
@VVillar Great to hear! We're close this ticket. Please let us know if you need help with anything else.

[2019-10-01 19:28] #245 closed

[2019-10-02 16:25] jkubicka commented on #247
Hi @juniem this link is broken, can we get fixed?

[2019-10-06 18:30] ckcampbell248 commented on #239
I'd like to reopen this issue. I'm having the same problem.

I'm trying to reconfigure my camera. I can get it back into AP mode (three blinking orange lights) and connect and run through the OOTB experience. I can connect to Azure and IoT Hub and the device gets created on my IoT Hub. When I get to the "Your camera is downloading IoT Edge Runtime" page, it never finishes and eventually times out.

[2019-10-06 20:44] HowardEdidin opened #248 "Unresolved import properties.py"
from iotccsdk import CameraClient

unresolved import 'iotccsdk'Python(unresolved-import)
Peek Problem

unresolved import 'iotccsdk'

[2019-10-07 19:55] patgarr commented on #239
@ckcampbell248 can you send the following logs?  It sounds like a connectivity issue with Docker but these might help us narrow down where it is failing to download.

adb shell ifconfig wlan0
adb shell cat /etc/resolv.conf
adb shell cat /etc/docker/daemon.json
adb shell docker ps
adb shell docker logs edgeAgent
adb shell docker logs edgeHub

[2019-10-07 20:22] jkubicka commented on #248
@howardedidin can you provide more details on where you’re seeing this issue?

[2019-10-07 20:55] ckcampbell248 commented on #239
So here's the thing...

I had tried and failed multiple times...at least 10 times...with the same results. Last night after I posted, I decided to try it once more. My device seemed to have locked up so I pressed the recessed reset button on the side (something I've done before) and it restarted but this time, it was blinking three red lights instead of three amber lights indicating that it was in

[2019-10-07 21:06] patgarr commented on #239
@ckcampbell248 Office networks often block non-internal DNS requests (or require you to use an internal DNS) so at the office network if you are using 1.1.1.1/8.8.8.8 it may be blocked.

[2019-10-08 22:14] HowardEdidin commented on #248
`Step 13/16 : RUN pip install iotccsdk-0.1.4.tar.gz
 ---> Running in 8f21cda6d9ee
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Processing ./iotccsdk-0.1.4.tar.gz
    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-req-build-iaumhfyu/setup.py'"'"'; __file__='"'"'/tmp/pip-r

[2019-10-08 23:37] juniem opened #249 "Device reset using existing connection string doesn't work"
It's not possible to reset the device using existing connection string.

Repro steps:
-Set up the device normally
-Press power button for 5 seconds and set the device again to AP mode
-Log in to the device and run the OOBE again
-Select "reset the device" and "I have a connection string"
-Provide a different connection string than what device currently has. The device gets stuck in loading IoT Edg

[2019-10-09 19:40] ckcampbell248 commented on #239
So I'm working again but I'm at a loss to explain why. I was able to reconfigure the wifi on my dev kit again today with no issues.

I did a "docker ps" on the device and I can see that the containers were created 3 days ago which is when the apparent reset occurred.

[2019-10-10 06:00] osoroshi opened #250 "CameraTaggingModule architecture"
Deployed camerataggingmodule:0.1.67-amd64 to device but get this error in logs

/ # iotedge logs CameraTaggingModule
standard_init_linux.go:207: exec user process caused "exec format error"

[2019-10-10 16:05] PuneetRahejaMS commented on #250
@osoroshi can you share the link where this module is available.

[2019-10-10 21:16] jkubicka commented on #248
@HowardEdidin Please provide a link to the GitHub code that's causing this error.

[2019-10-10 21:34] jkubicka commented on #248
The error may be caused by the update of setuptools.
In Dockerfile.arm32v7, try removing the following line and run again:

RUN pip install --upgrade setuptools

[2019-10-10 21:57] HowardEdidin commented on #248
That solved the problem. I was able to build the image

[2019-10-10 21:57] #248 closed

[2019-10-11 00:20] osoroshi commented on #250
https://github.com/microsoft/vision-ai-developer-kit/tree/master/samples/official/camera-tagging

Following the Deploy Container AMD64 instructions - all modules running except for
CameraTaggingModule        **failed**           Failed (1) 44 seconds ago  aivisionreg.azurecr.io/camerataggingmodule:0.0.62-amd64
edgeHub                    running          Up 2 hours                 mcr.microsoft.com

[2019-10-14 02:14] sezflynn opened #251 "Exception thrown at camera_client.captureimage()"
Face detect sample fails when camera client attempts to capture image.

We removed threading and changed `main.py` to this:
[code]
and added logging to `azure_face_api.py`:
[code]
Here's a dump of the logs:
[code]
We're looking for any insight into what could be causing this error and where to from here in terms of resolving this issue.

[2019-10-14 05:27] nicolaerosia commented on #246
For those interested in being able to customize the OS, as of 2019.10.14, I would recommend you to stay away from this board since a) it contains proprietary bits from Qualcomm, b) the open source components/Yocto meta layers along with their version/git hash/etc are not listed

[2019-10-14 09:59] PuneetRahejaMS commented on #250
@osoroshi At a quick glance it looks like you may have accidentally build the module for amd64 and not arm32v7.
If that is the case, you can update the build target architecture by clicking on amd64 at the bottom of the Visual Studio Code window and then at the top select the appropriate architecture (arm32v7). Pls refer to the screenshots below.

![2](https://user-images.githubusercontent.com/478

[2019-10-14 11:54] PuneetRahejaMS commented on #251
@sezflynn Thanks for p[ointing this. We are looking ito it and will get back soon.

[2019-10-16 01:55] sharminProvoke commented on #251
Hi @PuneetRahejaMS, do you have an update on this issue?

[2019-10-16 05:47] PuneetRahejaMS commented on #251
Hi @sezflynn, @sharminProvoke,

Unfortunately, there is a known issue with the camera client api below the iotccsdk, where during a session a snapshot should be taken right after the camera is started to ensure stability of the snapshot function.

If an inference is detected before a test snapshot is taken first the snapshot fails and can crash the module. A quick way to work around the issue is t

[2019-10-20 19:41] drcrook1 opened #258 "Collecting Images from Camera using python command causes modules to stop working."
Get a module running, then try to collect images.  It cuts the HDMI to a grey screen.  Trying to restart the device causes 1 single blinking green light.  Not sure how to restart the device to see how to fix this issue.

[2019-10-21 19:26] jkubicka commented on #258
@drcrook1 Looking into this - will get back to you with more info. Thanks.

[2019-10-21 22:07] mimcco commented on #249
@Devinwong - I think this belongs to you.

[2019-10-21 23:10] jkubicka opened #259 "Wi-Fi Reconfiguration Experience"
Once the device has been initially setup, the device will only connect to the original Wi-Fi network connected in the first device setup experience.

Current manual workaround is via adb commands:
http://visionaidevkitsupport-test.azurewebsites.net/?q=switch%20wifi

Need more user-friendly experience to switch device Wi-Fi networks:
-Pop-up alert message that original network is not available, and

[2019-10-21 23:13] jkubicka opened #260 "SSH Tool Instructions improvements needed"
Current SSH instructions to connect/manage device:

https://azure.github.io/Vision-AI-DevKit-Pages/docs/SSH/

Suggested updates:

- Screenshots
- More accessible / easier to find on website
- Example of SSH use case - with list of sample commands

[2019-10-22 12:03] osoroshi opened #261 "Reset Device video not streaming"
Have reset device, removed device in AZ IoTHub, used new host name etc. All modules are running on device and LED solid green but rtsp connections on TCP 9800 are refused. TCP 3000 listening  but no video is displayed 9 previously streaming video fine). In VS Code under the IoT devices ( In Explorer)  the modules display as disconnected.
Cannot find errors in logs on device and Modules report runn

[2019-10-22 16:30] PuneetRahejaMS commented on #261
@osoroshi We are looking into this. Will get back soon.

[2019-10-22 19:25] jkubicka commented on #247
Updated link to:

https://github.com/microsoft/vision-ai-developer-kit/tree/master/camera-sdk

[2019-10-22 19:25] #247 closed

[2019-10-23 00:05] sezflynn commented on #251
So I added some code to make sure the camera was running and an initial snapshot was successful before progressing to the rest of the logic. I placed a piece of white paper in front of the camera and uploaded the new container; it still errors:
[code]
The container cycles through the same set of errors about 7 times, with this extra error on the 6th and 7th tries:
[code]

First log:
[code]
Last lo

[2019-10-23 01:06] sezflynn commented on #251
Okay, a couple of reboots seems to have cleared the above problems, camera is taking snapshots now!

[2019-10-23 02:47] sezflynn commented on #251
We're getting snapshots and successfully passing them to azure face api. Thank you for your help @PuneetRahejaMS

[2019-10-23 02:47] #251 closed

[2019-10-23 04:47] osoroshi commented on #261
Thanks - on start up AIVisionDevKitGetStartedModule does throw an error but does restart but still no video streaming on browser or rtsp

NAME                            STATUS           DESCRIPTION      CONFIG
WebStreamModule                 running          Up 4 minutes     mcr.microsoft.com/aivision/visionsamplemodule:webstream_0.0.13-arm32v7
AIVisionDevKitGetStartedModule  running          Up

[2019-10-23 06:21] PuneetRahejaMS commented on #250
Hope the information shared resolved your concern. we are closing this case. Please open a new one if further support is required.

[2019-10-23 06:21] #250 closed

[2019-10-23 06:53] osoroshi commented on #250
Thanks switching to arm32 resolved the issue

[2019-10-23 11:31] PuneetRahejaMS commented on #261
@osoroshi Thanks for the additional details. I have a couple of questions. Are both the RTSP and webstreams not working?

So in vlc you tried cameraipaddress:8900
In a web browser you tried cameraipaddress:3000

[2019-10-23 11:39] PuneetRahejaMS commented on #258
@drcrook1 Can you share more information like error logs, screenshots etc which will help investigate further.

[2019-10-23 22:26] osoroshi commented on #261
@PuneetRahejaMS thanks for reply,

yes vlc on 8900 and telnet directly port is closed
with browser connect on 3000 but only get black screen no image

Was working fine after reset only recently this seems to be an issue - have changed everything except the Azure Subscription

[2019-10-25 15:17] MKaandorp opened #262 "camera_client.captureimage() crashes module"
Similar to #251 .
Calling `camera_client.captureimage() `crashes the module, resulting in the following logs:

[code]

However, sometimes it does not crash, resulting in the following logs:

[code]

#251 argues that the crash is due to the fact that the camera has to immediately take a snapshot after booting to ensure stability of the snapshot functionality. @sezflynn provides a [work-around](http

[2019-10-25 16:48] juniem opened #263 "Camera loses IoT Hub connection"
I have several repros of this. The camera loses IoT Hub connection even though being connected to internet and running all the modules normally. I am running the default modules and ASA and Capture modules from this example: https://github.com/MarekLani/VisionDevKit-Intelligent-Alarm

Logs:

**edgeAgent logs:**
2019-10-25 14:47:49.514 +00:00 [WRN] - Empty edge agent config was received. Attempting

[2019-10-25 21:24] jkubicka commented on #262
@MKaandorp

Unfortunately, there is a known issue with the camera client api below the iotccsdk, where during a session a snapshot should be taken right after the camera is started to ensure stability of the snapshot function.

If an inference is detected before a test snapshot is taken first the snapshot fails and can crash the module. A quick way to work around the issue is to make sure the fram

[2019-10-28 08:59] MKaandorp commented on #262
@jkubicka, thanks for the quick response.

In my solution I make use of an image classification model, which classifies an image as either an object if the image contains an object, or as "Negative" if the image does not contain an object. This means that there is no way for me to prevent the triggering of inference, as covering the camera lens will result in a "Negative" classification.

However,

[2019-10-28 20:18] mimcco commented on #258
@drcrook1 here is how to reboot the device https://visionaidevkitsupport.azurewebsites.net/?q=reboot

Let us know if rebooting resolves this issue. Thanks.

[2019-10-28 20:38] #216 closed

[2019-10-28 20:40] #234 closed

[2019-10-28 20:40] patgarr commented on #234
Fix for this was checked into FW v0.5280.

[2019-10-28 20:40] #202 closed

[2019-10-28 20:40] patgarr commented on #216
Fix for this was checked into FW v0.5280.

[2019-10-28 20:40] patgarr commented on #202
Fix for this was checked into FW v0.5280.

[2019-10-28 20:43] jkubicka commented on #262
Duplicate of #251

[2019-10-28 22:46] jkubicka commented on #262
@MKaandorp Try the following workaround:

![CameraClientWorkaround](https://user-images.githubusercontent.com/47400685/67723741-1be84f00-f99a-11e9-88b5-e4848af88b10.png)

[2019-10-29 01:10] osoroshi commented on #261
Applying latest firmware resolved the issue !

[2019-10-29 04:18] ancaantochi commented on #263
please include the output from running: `iotedge check`

[2019-10-29 09:37] MKaandorp commented on #262
@jkubicka, thanks for the response and the provided work-around. It seems similar to this [work-around](https://github.com/microsoft/vision-ai-developer-kit/issues/251#issuecomment-545206500) provided by @sezflyyn.

Unfortunately, this does not solve the problem for me. I tried it multiple times, but keep getting the same errors as before, after which the module crashes. The logs are provided belo

[2019-10-29 11:42] #261 closed

[2019-10-29 22:02] jkubicka commented on #262
@MKaandorp

We're looking into a bug fix for this one - stay tuned!

I'll get back to you on a possible workaround.

[2019-10-31 03:11] jkubicka commented on #249
Should be released with next firmware update.

[2019-10-31 03:13] jkubicka commented on #258
@drcrook1 Closing issue, please re-open if issue still exists.

[2019-10-31 03:13] #258 closed

[2019-10-31 03:14] jkubicka commented on #259
Should be included in next firmware release.

[2019-10-31 03:17] jkubicka commented on #263
@juniem Can you please provide output from iotcheck check? thanks.

[2019-10-31 04:24] PuneetRahejaMS commented on #258
@drcrook1 Were you able to resolve your issue. Do update us so that we can investigate further.

[2019-10-31 19:58] jkubicka commented on #262
@MKaandorp Can you please provide sample code to repro so we can look into this further?

[2019-11-01 13:53] MKaandorp commented on #262
@jkubicka No problem, you can find the code below. Please note that I make use of image classification in my project.

This code is based on the code in the face detect sample, and the workaround suggested by @sezflynn.

I believe all relevant code is there, the problem occurs anytime `camera_client.captureimage()` is called.

[code]

[2019-11-01 21:44] jkubicka commented on #262
We'll need “add_label_to_queue()” function to run the code for a repro…

![cameraclientcrash1](https://user-images.githubusercontent.com/47400685/68058279-cff91b00-fcb5-11e9-9547-2379ccf7b5e3.png)

You can test now to see if it improves stability is passing the camera_client and iot_hub_manager to their functions calling the “camera_client.captureimage()” and “iot_hub_manager.send_message_to_upstr

[2019-11-04 08:59] MKaandorp commented on #262
@jkubicka Thanks for the response.

Below is all code in the file, which should allow you to reproduce the problem.

Passing `camera_client` and `iot_hub_manager` to the functions instead of using global variables does not seem to make a difference.

[code]

[2019-11-05 18:46] jkubicka commented on #262
@MKaandorp Please see if this sample code works:

# Copyright (c) Microsoft. All rights reserved.
# Licensed under the MIT license. See LICENSE file in the project root for
# full license information.

import sys
if __package__ == '' or __package__ is None:  # noqa
    import os
    parent_dir = os.path.dirname(
        os.path.dirname(os.path.abspath(__file__)))
    sys.path.insert(1, parent_dir)

[2019-11-05 18:54] jkubicka commented on #262
The azure blob upload portions are commented out for testing snapshot only. It is set to use “tv” as non-anomaly and “person” as an anomaly. Point the camera at a computer monitor to have it detect “tv” to fill up the queue then point it back to a person to get an “anomoly” / initate a screen shot.

[2019-11-07 19:47] smeno004 opened #264 "Error while updating Get Started Module"
I was able to deploy the default AIVisionDevKitGetStartedModule on the Dev Kit. I followed the module update and deployment instructions provided in the repo and I began modifying parts of the code, incrementally testing the changes. However, when I reached v0.0.10 of the Get Started Module (the version number I increment with each push), I get the following error when the Dev Kit tries to create

[2019-11-08 12:48] PuneetRahejaMS commented on #264
@patgarr Can you kindly suggest.

[2019-11-08 15:53] MKaandorp commented on #262
@jkubicka Thanks for the response.

Unfortunately, this does not seem to fix the issue. The module crashes on startup with the same error as before. The logs are added below.
Does this code work on your machine?
Also, it would be great if you could put your code in a codeblock next time.

[code]

[2019-11-08 18:07] jkubicka commented on #262
@MKaandorp We're unable to repro the issue. What firmware are you running on the device?

[2019-11-08 19:06] patgarr commented on #264
One clarification, are you saying it worked with v0.0.9?

[2019-11-08 20:49] smeno004 commented on #264
I went ahead and reflashed the device using Fastboot, to clear out the Dev kit and start from scratch. I redid the OOBE, and deployed with an existing connection string to a project with a custom module (**not** the Getting Started Module). Everything began to work properly and as expected.

From all of my tests yesterday, I believe v0.0.9 worked, while v0.0.10+ didn't. But, I wanted to make sure,

[2019-11-08 20:49] #264 closed

[2019-11-10 09:00] headdab opened #265 "Can I use this without an Azure account?"

[2019-11-11 07:41] PuneetRahejaMS commented on #265
@headdab You can't use it without Azure Account.

[2019-11-11 07:41] #265 closed

[2019-11-11 21:09] jkubicka opened #266 "OOBE Wi-Fi Setup Connection"
We encountered a new bug last week. Specific to firmware v0.5280.
In OOBE, we have a step to check if internet is good or not by pinging www.bing.com.
It would reply since last year but seems recently stop replying to the ping request.
You can try with your local PC cmd prompt with command ping www.bing.com
So user now will see the “internet seems bad” error message on OOBE because the ping failur

[2019-11-12 18:49] jkubicka commented on #262
@MKaandorp Any update? Are you still running into this issue?

[2019-11-13 09:08] MKaandorp commented on #262
@jkubicka Unfortunately, the issue is still there. I'm still running firmware v0.5280_Perf, which, I believe, is the most recent.

Due to the fact that you cannot reproduce the issue, could it be device specific? There are, however, some other people with similar issues #251 #258.

Are you sure the issue also doesn't happen for you when using image classification instead of object detection?

[2019-11-13 19:18] jkubicka commented on #262
@MKaandorp Can you try testing at least one other code sample?

If that still fails, then yes, this is more than likely a hardware issue. And in that case, a warranty replacement or return is the best route.

[2019-11-17 00:42] V4A001 opened #267 "[bug] Installing firmware v0.5280_Perf does not startup with deployment.template.json modules file / Restricted password characters"
1. Latest firmware v0.5280_Perf
2. Connecting wifi works first time. But then seems IoT hub is not responding properly. So reconnect..However devices go stealth: connecting IoT hub (green 3x blinks) not working. Hanging on 'Initial page ...'

![image](https://user-images.githubusercontent.com/9630343/69001252-83c7f080-08db-11ea-94c6-82e0c0023e3f.png)

[2019-11-17 01:14] VOICE4ALL commented on #267
I did hold reset for 12 seconds at least. Then used another wifi network and seems to run now.  Let try the other device.
![image](https://user-images.githubusercontent.com/9630343/69001502-de634b80-08df-11ea-8826-48c38c5ed25d.png)
Now waiting till the 3 simultanous blinks turn into continous 3 leds.

[2019-11-17 01:22] VOICE4ALL commented on #267
Waiting for minutes now. Seems that the containers are not started. docker ps does not show anything.

/ # iotedge check
Configuration checks
--------------------
√ config.yaml is well-formed
× config.yaml has well-formed connection string
    Invalid connection string format detected.
    Please check the value of the provisioning.device_connection_string parameter.
√ container engine is installe

[2019-11-17 13:09] V4A001 commented on #267
This device has an empty configuration for the edge agent. Please set a deployment manifest.
I added DNS 1.1.1.1 and then Google's DNS 8.8.8.8. Now seems only the agents runs, all docker images are there, however they do not start. Next error:

417 - The device's deployment configuration is not set

It seems with cmd 'docker ps ' on adb that only the agent is running and IoT is not started as no d

[2019-11-17 13:20] V4A001 opened #268 "Could not create module AIVisionDevKitGetStartedModule unauthorized: authentication required, StatusCode:500"
I am trying to deploy the vision-ai-developer-kit to the device (and I want to run simulator to and debug it :-)). I guess I am missing some credentials to pull it from my container registry? Only question how. Is there some documentation on how to create/ debug own software to this device?

<6> 2019-11-17 13:16:09.755 +00:00 [INF] - Executing command: "Command Group: (\n  [Create module AIVisionD

[2019-11-17 16:21] V4A001 commented on #245
Run in same issue here. After a couple of days I believe this software is quite buggy....

[2019-11-17 17:29] V4A001 commented on #268
I added my Azure Container Registry to the Set Modules so that the EdgeAgent was able to pick them up. If you forget the dns 1.1.1.1 or 8.8.8.8 in the setup you are also lost. I believed the docker was smart enough to get them from the deployment, but the connection between the deployment.json and ACR was missing.

I have added those in the set modules instead in my code.

            "registryCre

[2019-11-17 17:29] #268 closed

[2019-11-17 17:31] V4A001 commented on #267
Is there a way to push this DNS configuration by default to the device or is there a reason it is not there by default?

[2019-11-17 19:02] V4A001 commented on #245
I keep on running into this issue. I guess it occurs when no credentials to the Azure Container Registry is given..I have setup createOptions for both edgeAgent and edgeHub:

  "createOptions": {
                "HostConfig": {
                  "Dns": [
                    "1.1.1.1"
                  ],
                  "PortBindings": {

[2019-11-17 21:17] V4A001 commented on #267
After deploying new docker containers devices loses its connectivity again...firmware upgrade for firth time? dockers containers run fine if I check with docker images and docker ps

/ # ping 1.1.1.1
connect: Network is unreachable

My dns settings:

   "systemModules": {
          "edgeAgent": {
            "type": "docker",
            "settings": {
              "image": "mcr.microsoft.com/azur

[2019-11-18 00:05] V4A001 opened #269 "Update the security daemon?"
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-update-iot-edge
Where to run these commands? The bash asks unixuser..pwd and I do not know pwd.

apt-get update
apt-get install libiothsm iotedge

[2019-11-18 10:51] MKaandorp commented on #262
@jkubicka No problem, which code sample?

I finally got around to testing it on a different DevKit, and got the same result: the module still crashed when calling `camera_client.captureimage()`. I tested it with the same code I posted earlier, and the same image classification model I used earlier. This seems to suggest that it might not be a hardware issue.

[2019-11-18 16:56] PuneetRahejaMS commented on #267
@V4A001 Can you try a factory/hard reset and try again.

[2019-11-18 17:01] PuneetRahejaMS commented on #269
@V4A001 Can you share more details on where exactly it's asking for a pwd.

[2019-11-18 19:35] V4A001 commented on #269
Can you point me to where the vision kit security demon is updated from a WIndows Machine? I get the security question on either the shell of the adb shell and on the terminal session for the virtual environment.

[2019-11-18 19:50] V4A001 opened #270 "Executing command for operation ["create"] failed. System.Threading.Tasks.TaskCanceledException: A task was canceled."
During startup of the docker images the next errors are many times in the log (below).
The adb shell command used is: docker logs edgeAgent .  It is in firmware version 4.8 v0.4940_Perf, v0.5280_Perf and edgeAgent 1.0 to 1.0.8.3

I do not like error logs as they might indicate something is not working. Maybe something is wrong or should this go to Iot Hub forum?

===
<6> 2019-11-18 19:40:51.818 +0

[2019-11-18 19:58] V4A001 opened #271 "Request to use Moby containers instead of Yocto docker containers for production usage"
As a user I want finally run my developments on Azure IoT edge and customer might require professional support so that they get help from Microsoft.

However, I understand that this devkit is created in Yocto docker containers whereas Microsoft runs Moby containers in IoT Edge in production. Is there a roadmap to port Qualcomm image to Moby?

https://docs.microsoft.com/bs-latn-ba/azure/iot-edge/su

[2019-11-18 21:25] jkubicka commented on #269
@V4A001 It's an ARM32 camera, please use the following doc:

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux

[2019-11-18 21:44] jkubicka commented on #270
@V4A001 Please try running this command to download the image before starting the Edge Agent and see if it clears up the error logs:

sudo docker pull mcr.microsoft.com/aivision/visionsamplemodule:1.1.3-arm32v7

[2019-11-18 22:41] jkubicka commented on #271
@V4A001 The AI Dev Kit does use Moby, which is baked into the Yocto OS shipped on the AI Vision dev kit. So yes, Microsoft officially supports the docker engine running on the AI Vision Dev Kit.

[2019-11-18 23:53] V4A001 commented on #267
I have deployed firmware v0.4940_Perf back on the device instead of v0.5280_Perf. Having same connectivity issues
/ # docker pull mcr.microsoft.com/aivision/visionsamplemodule:1.1.3-arm32v7
Error response from daemon: Get https://mcr.microsoft.com/v2/: tls: failed to parse certificate from server: asn1: syntax error: invalid boolean
/ # ping 1.1.1.1
connect: Network is unreachable
/ #

[2019-11-18 23:59] V4A001 commented on #270
For some reason I lose connectivity all the time.
https://github.com/microsoft/vision-ai-developer-kit/issues/267

[2019-11-19 08:16] wei-juncheng opened #272 "Change the style of bounding box display on the monitor"
Hi,
By default, the color of bounding box which the devices are showing is white.
Can I change the color of bounding box when the device detect something.
For example, if it detect the worker on the workplace and he doesn't wear a hard hat, I want to show red bounding box on his face.

[2019-11-19 12:27] PuneetRahejaMS commented on #272
@jkubicka Would you know this?

[2019-11-19 18:03] #271 closed

[2019-11-19 18:20] jkubicka commented on #272
@wei-juncheng This would be possible on a module built from scratch on the QMMF webserver/API, which is much more robust. But not on the current default module - which is built on the IPC webserver/API. Thus, the bounding box color on the current default module can only be white.

[2019-11-19 18:20] #272 closed

[2019-11-19 18:26] jkubicka commented on #262
@MKaandorp Try to swap out the main.py file in the FACEAPI code sample with the main.py we sent earlier on the new device. We got this code working.

[2019-11-19 18:50] jkubicka commented on #267
@V4A001 Wi-Fi connectivity is a known issue with v0.4940, please update the firmware to v0.5280 and complete setup.

Then if you're still having Wi-Fi issues, try the command **adb shell connectap <Wi-Fi network name> none -1**

Are you on a Corp Wi-Fi? Could be a firewall issue.

[2019-11-19 19:52] jkubicka commented on #272
@wei-juncheng Here's documentation on how to build on QMMF:

https://source.codeaurora.org/quic/la/platform/vendor/qcom-opensource/qmmf-sdk
https://source.codeaurora.org/quic/la/platform/vendor/qcom-opensource/qmmf-webserver

[2019-11-20 03:29] wei-juncheng commented on #272
Thanks a lot !

[2019-11-20 18:36] Devinwong commented on #267
@V4A001 , it seems that you were not able to connect to your WiFi automatically after reboot.
If you had went through the OOBE, the profile should have been saved in a file /data/misc/websettings/setting.conf. You can take a look at this file and see if the SSID is correct. Note that the passphrase is encrypted. And you can try what Jan mentioned about with the connectap command.

[2019-11-20 22:49] V4A001 commented on #267
/ # cat etc/version
v0.5280_Perf
/ # cat /data/misc/websettings/setting.conf
{"connect_ap":{"ssid":"CISCO-GUESTS","password":"xx"},"username":"device_admin","password":"$xx","io_t_connect_string":"HostName=xx;DeviceId=xx;SharedAccessKey=xx","ssh_enable":true,"user_dns":{"enabled":true,"value":"8.8.8.8"}}/ #
/ # connectap cisco-guests none -1
[Connect AP] SSID=cisco-guests, key=none, Security=-1
wl

[2019-11-20 22:52] V4A001 commented on #267
/ # ping 1.1.1.1
connect: Network is unreachable
/ # docker ps
CONTAINER ID        IMAGE                                                                   COMMAND                   CREATED             STATUS              PORTS                                                                  NAMES
2ca11f47c8ed        mcr.microsoft.com/azureiotedge-hub:1.0.8.3                              "/bin/sh -

[2019-11-20 22:57] V4A001 commented on #267
So I do not understand what could be wrong. Is my wifi password maybe too long? But why does it say it connects an then ping is not possible anymore and thus downloading either a new docker image.

/ # docker pull mcr.microsoft.com/aivision/visionsamplemodule:1.1.3-arm32v7
Error response from daemon: Get https://mcr.microsoft.com/v2/: tls: failed to parse certificate from server: asn1: syntax erro

[2019-11-20 23:16] V4A001 commented on #267
I can connect to WIFI now through my mobile phone and tried again with my AP. With uPPER/Lower in the command it works. But on reboot it is still not. Can I give a save command to this setup?

After reboot again no connectivity.

Can it be that I have strange chars in my WIFI? Like a - and a pwd with a %. My pwd is also long.

Error response from daemon: Get https://mcr.microsoft.com/v2/: tls: fai

[2019-11-20 23:20] V4A001 commented on #267
I can connect to WIFI now through my mobile phone and tried again with my AP. With uPPER/Lower in the command it works. But on reboot it is still not. Can I give a save command to this setup?

After reboot again no connectivity.

Can it be that I have strange chars in my WIFI? Like a - and a pwd with a %. My pwd is also long.

Error response from daemon: Get https://mcr.microsoft.com/v2/: tls: fai

[2019-11-20 23:37] V4A001 commented on #267
I think there is a bug in the saving and retrieval of SSID's with complexer users an password. Can I see the source code some where. I saw wlanstart....it runs finally in something like this after no connection is present. The initial device id to connect to is also not there anymore.

/ # cat /data/misc/wifi/hostapd_virtual.conf
ctrl_interface=/var/run/hostapd
interface=softap0
#driver=nl80211
#i

[2019-11-21 00:04] V4A001 commented on #270
Connectivity is being resolved in this thread.

I guess this issue might be resolved with this commit on [https://github.com/Azure/iotedge](https://github.com/Azure/iotedge/commit/d2115b6d017c28dec66ca3b43b2f7712f6278766)

[2019-11-21 00:19] V4A001 commented on #267
After 4 days of debugging I believe it is a bug. I connected my device to a hotspot repeater on 2.4 GHz with a more 'open source' and less 'type safe pwd'....simplessid and 1234567890 as pwd. It runs now..I will now change this new acces point to the difficult pwd. It is not 5GHz. Changing my home/office netwerk is much more complicated....

 # cat etc/version
v0.5280_Perf
/ # ping 1.1.1.1
PING 1.

[2019-11-21 01:01] V4A001 commented on #267
With the more difficulate pwd of the CISCO-GUEST and dlink-A23B as ssid it does not want to connect at all....during setup. I will try otherday but I believe this non-alpha or the length of the pwd might be an issue.

[2019-11-21 01:13] V4A001 commented on #267
I confirm that it is a bug. I have now as SSID on the previously working device. SSID: dlink-A23B with a long pwd with a % in it and caps/ lower of about 16 long randomly from LastPass.

 # cat etc/version
v0.5280_Perf
/ # ping 1.1.1.1
PING 1.1.1.1 (1.1.1.1) 56(84) bytes of data.
64 bytes from 1.1.1.1: icmp_seq=1 ttl=59 time=1309 ms
^C
--- 1.1.1.1 ping statistics ---
2 packets transmitted, 1 recei

[2019-11-21 01:20] V4A001 opened #273 "How to debug on dev box and how to debug on device?"
Can you provide some links to how to develop and run a debugger on a local dev box with emulator?
Same question for debugging locally on the device.

[2019-11-21 06:15] PuneetRahejaMS commented on #273
@V4A001 Please allow me some time to get more details on your concern

[2019-11-21 15:44] Devinwong commented on #267
Probably the % in the pwd is not handled correctly. I will try to repro this from my side. Thanks for your finding.

[2019-11-21 17:24] jkubicka commented on #270
Closing as duplicate of #267

[2019-11-21 17:24] #270 closed

[2019-11-21 17:26] jkubicka commented on #269
@V4A001 Closing issue. Please re-open if still an issue.

[2019-11-21 17:26] #269 closed

[2019-11-21 20:57] juniem commented on #263
Configuration checks
--------------------
[0m[32m√ config.yaml is well-formed
[0m[0m[32m√ config.yaml has well-formed connection string
[0m[0m[32m√ container engine is installed and functional
[0m[0m[32m√ config.yaml has correct hostname
[0m[0m[31m× config.yaml has correct URIs for daemon mgmt endpoint
    Unable to find image 'mcr.microsoft.com/azureiotedge-diagnostics:1.0.7' locall

[2019-11-21 21:50] V4A001 opened #274 "Rescan networks does not always list all network if you have about 8 ssid's"
Just minor report: I needed to rescan 3 times to get my newly created ssid out of a list of 8 ssid's.

[2019-11-21 22:52] V4A001 commented on #267
My home access point works now. I created a new ssid and replaced the % with a P, but still had the issue (I believe, but maybe I did a ping to fast; need to wait till green blinks) then I shorted my password to 9. Recommended by ngov is about 64 chars long or even longer for non-2 factor.

[2019-11-21 22:58] V4A001 commented on #263
same issue here. rebooting for confirmation

[2019-11-21 23:06] V4A001 commented on #263
edgeAgent and edgeHub are of version: 1.0.8.3

[IoTHubMonitor] [12:00:11 AM] Message received from [xx/AIVisionDevKitGetStartedModule]:
{
  "position_x": 824.832,
  "confidence": 70,
  "position_y": 78.948,
  "id": 1,
  "height": 989.928,
  "label": "person",
  "width": 952.896
}

<6> 2019-11-21 22:48:42.966 +00:00 [INF] - Closed HTTP head
<4> 2019-11-21 22:48:43.635 +00:00 [WRN] - Closing connect

[2019-11-21 23:10] V4A001 commented on #270
Once the images are present this error does not occur anymore. So rebooting and rebooting with same image does not give issue. Should this go to the edgeIoT form as errors which are not caught properly in a try-exception are not so nice to see and distract.

<6> 2019-11-21 22:37:25.237 +00:00 [INF] - Executing command: "Command Group: (\n  [Create module edgeHub]\n  [Start module edgeHub]\n)"
<6>

[2019-11-25 11:48] 0chandansharma opened #275 "#Model importing in camera"
Hi,

i have created keras_retinanet model weight file (output.h5),
i want to push my .h5 file (keras model) to the AI camera,

what i have tried

[2019-11-25 15:03] PuneetRahejaMS commented on #275
@DavidGrob-V-MS Can you help here.

[2019-11-26 19:09] jkubicka commented on #262
@MKaandorp Closing issue. Please re-open if you're still not able to get other code samples from our repo working. Thanks.

[2019-11-26 19:09] #262 closed

[2019-11-27 07:52] PuneetRahejaMS commented on #273
Hello @V4A001 Can you kindly share more details about the Dev box mentioned in your query.

[2019-11-27 08:10] anguoyang opened #276 "is there any c# or c++ SDK to connect the camera and get images frame by frame?"
is there any c# or c++ SDK to connect the camera and get images frame by frame? thank you

[2019-11-27 10:51] PuneetRahejaMS commented on #274
@V4A001 We were unable to repro this. We tested it on the latest firmware v0.5330. There is no such limitation of 8 SSID's.
Which firmware version are you using?

[2019-11-27 11:44] PuneetRahejaMS commented on #276
@anguoyang It's not there. But new projects can be found here: https://azure.github.io/Vision-AI-DevKit-Pages/docs/projects/

[2019-11-28 04:26] PuneetRahejaMS commented on #276
@anguoyang there is an API for capturing image https://azure.github.io/Vision-AI-DevKit-Pages/docs/train/
but it won't get images frame by frame. only when you send the API will it capture one frame

[2019-11-28 07:55] V4A001 commented on #274
Seems to be oke, was on version v0.5280_Perf

[2019-11-28 07:56] V4A001 commented on #276
@anguoyang I have same interest. I believe there is a project to tag images under the R&D samples.

[2019-11-28 07:58] PuneetRahejaMS commented on #274
@V4A001 Since this is no longer a repro, we are closing this issue.

[2019-11-28 07:58] #274 closed

[2019-11-28 08:10] V4A001 commented on #273
I will check those. I mean debugging on a dev-box without having a device and step into a docker module. It is not like windows .ce with platform builder and you just start up the debugger and it automatically connects.

[2019-11-28 08:14] PuneetRahejaMS commented on #273
@V4A001 We didn’t provide a debugger on from a dev box as it won’t be able to access Qualcomm’s SNPE and hardware acceleration.
Qualcomm didn’t provide such an emulator as well.

[2019-11-29 11:55] PuneetRahejaMS commented on #275
@0chandansharma you can use modelzipurl. but for a complete deployment, he will need to replace this model file to a vs code solution. build it as container, push to ACR and then deploy to iotedge

https://azure.github.io/Vision-AI-DevKit-Pages/docs/Tutorial-HOL_Using_the_VisionSample/

[2019-11-29 12:58] V4A001 commented on #273
I am fighting with this already quite a time. Help appreciated to get pytest running and debugger. Python is really a pain in setting up properly with respect to a .NET library.

https://docs.pytest.org/en/latest/goodpractices.html#test-package-name

![image](https://user-images.githubusercontent.com/9630343/69870429-18552a00-12b0-11ea-86a8-469ffe68bac5.png)

[2019-12-03 15:50] PuneetRahejaMS commented on #275
@0chandansharma I hope the information shared resolved your concern. We are closing this as of now.  Please reopen if you need further assistance.

[2019-12-03 15:50] #275 closed

[2019-12-03 15:53] #276 closed

[2019-12-03 22:51] jkubicka commented on #266
Hi @Devinwong has this bug fix been checked into v0.5330?

[2019-12-04 02:11] Devinwong commented on #266
yes. this is fixed at 0.5330

[2019-12-04 09:48] PuneetRahejaMS commented on #273
@V4A001 Looking at the screenshot, we cannot tell where your image_decoder module is. This error is just indicating that the module's path is invalid. This has nothing to do with DevKit.

[2019-12-04 17:46] jkubicka commented on #266
Closing per Devin's comment. Fixed in 0.5330

[2019-12-04 17:46] #266 closed

[2019-12-06 18:11] V4A001 commented on #273
I fixed above. I added pytest to start with, but missed the __init__.py in the test framework.

I want to debug real-time the code on either my laptop or on the device and step through the code.

            while True:
                    try:
                        while camera_client.vam_running:
                            with camera_client.get_inferences() as results:

[2019-12-08 22:32] V4A001 commented on #273
I followed this article on a Windows instead Mac box:
https://devblogs.microsoft.com/iotdev/easily-build-and-debug-iot-edge-modules-on-your-remote-device-with-azure-iot-edge-for-vs-code-1-9-0/

I have created deployment files with debug and docker file:

RUN pip3 install --upgrade pip
RUN pip install setuptools
RUN pip install ptvsd

main with:
# Debugging with Visual Studio Code on Edge Device
im

[2019-12-08 23:27] V4A001 opened #277 "Could not find a version that satisfies the requirement iothub-client==1.1.2.0 (from -r requirements.txt (line 24)) (from versions: none)"
I am trying to make a deployable debuggable docker image.
With Python you get all your errors during run-time :-(...

So I got on my device by trying to run docker debug container:

/ # docker run b92fb640e210
Traceback (most recent call last):
  File "./main.py", line 17, in <module>
    from . properties import Properties
  File "/app/properties.py", line 4, in <module>
    from iotccsdk import

[2019-12-09 07:00] PuneetRahejaMS commented on #277
@V4A001 Let me check and get back to you.

[2019-12-09 07:32] 0chandansharma commented on #275
Thankyou for the response,

I already followed the documents,

i am facing the issue :::: running status :backoff

after importing my model in camera , and i am not getting output bounding boxes,

suggest me!

Thanks

[2019-12-09 07:39] PuneetRahejaMS commented on #275
@0chandansharma 'Backoff' means the iotedge keeps restarting the vision module container but always encounters failure. To check what is happening, you can use command docker logs [container name] as well as docker logs edgeAgent. This will provide the logs from container starting to failure.

[2019-12-09 08:11] 0chandansharma commented on #275
Thanks for response
Is there any model size restriction , for putting model in container , for altek camera ?
my model size is 22mb?

[2019-12-09 08:13] djdtimit opened #278 "Color of bounding box"
Hi,

is it possible to change the color of the bounding boxes or the color of the detected labels? White labels or bounding boxes are sometimes difficult to see.

Best regards,
Tim

[2019-12-09 08:20] PuneetRahejaMS commented on #278
@djdtimit This would be possible on a module built from scratch on the QMMF webserver/API, which is much more robust. But not on the current default module - which is built on the IPC webserver/API. Thus, the bounding box color on the current default module can only be white.

Below is the documentation on how to build on QMMF:

https://source.codeaurora.org/quic/la/platform/vendor/qcom-opensource

[2019-12-11 08:12] V4A001 commented on #277
I am tyring to follow this: https://devblogs.microsoft.com/iotdev/easily-build-and-debug-iot-edge-modules-on-your-remote-device-with-azure-iot-edge-for-vs-code-1-9-0/

[2019-12-11 08:13] V4A001 commented on #260
Yep! In particular for non-linux developers which are spoiled with Visual Studio en .NET :-).

[2019-12-11 10:33] ericmcmc opened #279 "Firmware Update fails"
Hello,

I´m trying to update the firmware of the devkit to 0.5330_perf. I can see my device connected via adb devices but when I click in FastbootUpgrade_v6_5.bat like the instructions said the device become disconnected (red lights) and it fails. I also follow the instructions from here: https://azure.github.io/Vision-AI-DevKit-Pages/docs/Recover_device/#recover-vision-ai-dev-kit-hardware-after-a

[2019-12-11 13:58] PuneetRahejaMS commented on #279
@ericmcmc Can you press and release the power button for 12 seconds and then try flashing it again.

[2019-12-12 06:15] Devinwong commented on #249
I was not able to repro this issue.
Please check your work station is still connecting to the VAIDK Wi-Fi when it's downloading iotedge containers.

[2019-12-12 18:23] jkubicka commented on #249
@juniem Closing issue, please re-open if you're able to repro or if still an issue.

[2019-12-12 18:23] #249 closed

[2019-12-13 02:14] Devinwong commented on #277
did you try with [this ](https://github.com/microsoft/vision-ai-developer-kit/blob/master/samples/official/ai-vision-devkit-get-started/modules/AIVisionDevKitGetStartedModule/requirements.txt)requirement.txt?

[2019-12-16 21:10] jkubicka commented on #263
Hi @Devinwong were you able to repro this issue?

[2019-12-18 03:46] jkubicka commented on #278
Closing issue.

[2019-12-18 03:46] #278 closed

[2019-12-18 12:05] PuneetRahejaMS commented on #279
@ericmcmc was this resolved?

[2019-12-18 12:06] PuneetRahejaMS commented on #277
@V4A001 Did you try the link shared by @Devinwong

[2019-12-19 08:48] MarcoWirtl commented on #279
- Devices is attached

- Current Version (Shipping version) : v0.4940_Perf

- Is connected to WIFI and Azure IoT Hub

- All 4 Modules are on the camera (adb shell docker ps)

Running on Windows PC i copy the "FastbootUpgrade_v6_5.bat" + "VisionAIDevKit_InstallCheck.bat" File from the FW_UpgradeScript_Windows_v6_5 in the v0.5330_Perf Folder (where or what is the flat images folde in the PDF mention

[2019-12-19 17:04] PuneetRahejaMS commented on #279
@ericmcmc Did you follow these instructions to update the firmware. https://azure.github.io/Vision-AI-DevKit-Pages/docs/Firmware/
Including the platform tools directory (containing the ADB and Fastboot utilities) in your computer’s path environment variable. Using the command  set path=%path%;<platform tools path> should resolve your issue.

[2019-12-19 17:24] MarcoWirtl commented on #279
@PuneetRahejaMS

What i have to change in the command? (set path=%path%;)

Like --> set path=C:\platform-tools; ???
Any example maybe?

Here a screenshot from my env. variables:

Like you see in "path" there are included the platform-tools.

![SysVariable](https://user-images.githubusercontent.com/58036042/71194585-888e1480-228c-11ea-8e4e-f4b43ea5fdf5.PNG)

If so than i did it right but got the is

[2019-12-22 13:01] V4A001 commented on #277
Fixed this bugs. Trying further to get a debugger on the docker image on the device.

[2019-12-22 13:47] V4A001 commented on #279
There is an error in the .bat file.
Firmware upgrade to v0.5330_Perf --> needed to change fastboot *.bat file to point to this version

[2019-12-22 13:54] MarcoWirtl commented on #279
@V4A001

Could you specify where to change what?

Maybe a Screenshot etc.?

I already tried a lot but stuck on this Point again and again.

Thanks

[2019-12-22 14:26] V4A001 commented on #279
Sure.

![image](https://user-images.githubusercontent.com/9630343/71323063-6fc17100-24cf-11ea-90da-77667195fd8c.png)

[2019-12-22 14:49] MarcoWirtl commented on #279
@V4A001

So i copied the .bat Files from windowsfolder  in the v0.5330 folder and changed the Script to:

fw_path = ./

But i sadly get the same error.

.elf file missing.

[2019-12-22 15:04] V4A001 commented on #279
Wrong. You need to include the path in which all the files are. If you start from scrath you download from the Qualcomm site the package. Unzip it. Then copy based on your os the .bat file to the root folder. So not in the folder itself. See image above. Then open the file FastbootUpgrade_v6_5.bat and modify the @SET fw_path=../v0.5330_Perf/ to the right version. In this case we want to upgrade to

[2019-12-22 20:33] V4A001 commented on #279
I had the error just now.
Just hardcode works.
@echo "Check fastboot files..."
@SET fw_path=e:/v0.5330_Perf/
@SET filename=%fw_path%abl.elf
@IF NOT EXIST "%filename%" GOTO NOFILE_ERR

[2019-12-22 21:30] MarcoWirtl commented on #279
Thanks i will try it tomorrow and let you know if it worked!

[2019-12-23 12:42] MarcoWirtl commented on #279
@V4A001

My folder structure:

![image](https://user-images.githubusercontent.com/58036042/71358400-13bb2300-2589-11ea-9172-bab25f12662d.png)

My .bat script:

![image](https://user-images.githubusercontent.com/58036042/71358438-377e6900-2589-11ea-9bc7-0080509f18cb.png)

I run the script as an admin:

1. USB Sound appears (disconnet) --> adb reboot bootloader
2. USB Sound appears again (connect) -

[2019-12-24 09:28] #277 closed

[2019-12-24 09:37] #273 closed

[2019-12-24 14:46] V4A001 commented on #279
Hi, did you try again and succeed. To me it looks you are doing the right things. Can you open a second cmd prompt and run a ping next to the .bat file to see if you still have connectivity. It looks like connectivity has been lost.

@echo "Rebooting to fastboot mode"
adb reboot bootloader
@ping 127.0.0.1 -n 4 -w 1000 > nul
::@echo "Press any key when device driver ready..."
@pause

[2019-12-24 16:11] V4A001 commented on #279
It would be extremely helpful if you would point out how to modify code and how to debug it (easily) as used with CE.NET/ Visual Studio.

I came across this new feature in Visual Studio Code (https://code.visualstudio.com/docs/remote/containers). For the examples I get it to work..for this kit not. Help appreciated.

[2019-12-24 16:14] V4A001 opened #280 "Debugging"
Could you please help how to modify and debug this code? I found this about remove container debugging and also some link about SSH connections. I am able to run the example and run a docker instance and debug it instantly with F5. How to get that done with this project?
https://code.visualstudio.com/docs/remote/containers

[2019-12-24 16:27] V4A001 commented on #279
"Check adb device..."
* daemon not running; starting now at tcp:5037
* daemon started successfully
"Check battery capacity..."
"Check fastboot files..."
"Rebooting to fastboot mode"

C:\WINDOWS\system32>adb reboot bootloader
Press any key to continue . . .
"Check fastboot devices..."
"Starting flashing image..."

C:\WINDOWS\system32>fastboot flash abl e:/v0.5330_Perf/abl.elf
Sending 'abl' (148 KB)

[2019-12-25 09:07] MarcoWirtl commented on #279
@V4A001

![image](https://user-images.githubusercontent.com/58036042/71440663-3753aa00-26fe-11ea-8738-59a1633c606d.png)

After starting the .bat file ping command canceled.

Starting again says no advice.

[2019-12-25 09:10] MarcoWirtl commented on #279
@V4A001

![image](https://user-images.githubusercontent.com/58036042/71440764-be088700-26fe-11ea-90e0-99bfce2bc007.png)

After starting the .bat the pinc cmd canceled.

Starting at again says no advice....

[2019-12-26 07:56] PuneetRahejaMS commented on #280
@DavidGrob-V-MS Can you assist here?

[2019-12-26 10:50] PuneetRahejaMS opened #281 "Test Issue-Vasantha"
Creating a test ticket to check Vasantha's access to Github

[2019-12-26 11:14] V4A001 commented on #279
Maybe your fastboot is corrupted. Can you try to recover your device (take notice I am not the expert). I have multiple VisionKit devices so I 'sacrafized' one for this. With this manual you manually walk through the basic firmware upgrade files. It takes about 10 minutes to complete. After this you can try the fastboot again. Can also be your wifi is the issue by the way. But at least we know if

[2019-12-27 12:22] #281 closed

[2019-12-30 14:11] yguipsot opened #282 "Can't get blinking Green leds to re run OOBE."
I pressed the power button for 5 secs, pressed it for 12 secs too and the camera goes from static red to eventually static green; sometimes it goes from one red led to three static red leds.

I can't get the camera WiFi available again.

What am I doing wrong?

[2019-12-30 14:24] PuneetRahejaMS commented on #282
@yguipsot The device should enter into SoftAP mode by pressing the power button for 5-6 seconds. BTW Three steady green LED lights mean the device is online, connected to IoT Hub, and ready for use.
What firmware version are you on?

[2019-12-31 03:15] vasantha-Mindtree opened #283 "Test issue to check github access"
Test issue to check github access

[2019-12-31 03:28] #283 closed

[2019-12-31 03:29] vasantha-Mindtree commented on #283
test issue

[2019-12-31 09:41] jonmikeli opened #284 "Firmware-v0.5330_Perf-No way to download the modules (io_t_connect_string always empty)"
Hi,

After many firmware updates, my last issue is related to the end of the setup and the downloads of the modules.

Once the wifi settings are over, the leds change from orange to green and they continue blinking.
I provide the connection string of the IoT Edge device through the setup portal (I have also tried to create the device through the portal) and this is the result:
 - leds continue bli

[2019-12-31 11:22] PuneetRahejaMS commented on #284
@jonmikeli Can you try setting it manually and see if it works. We can investigate further after this initial test. Below is the process to update the string manually.

The ideal way is to update via device setup. Hold the power button for 5 seconds until blinking red LED's display, connect to the device AP, and then proceed through setup.

The device connection string is also stored on the device

[2019-12-31 18:27] jonmikeli commented on #284
Hi @PuneetRahejaMS ,

Sure. No problem to test that.
`/etc/iotedge/config.yaml` is empty. The file exists but with 0 bytes in it.
It has only `read` permissions (it sounds strange because I expected to see `write` permissions too). Maybe the reason of the issue?

I have tried to change the settings manually in the `/data/misc/websettings/setting.conf` but it has no effect.

You will find below a s

[2020-01-02 15:59] PuneetRahejaMS commented on #284
Hi @Devinwong is this something you are aware of?

[2020-01-02 17:59] jonmikeli commented on #284
Hi @PuneetRahejaMS and @Devinwong,

A few updates ....
After a device reset and a new firmware update, everything works properly.

Two changes in the process:
 - everything has been executed as Administrator
 - I have monitored the network use through `adb shell ifconfig wlan0` (just to check that the images were downloaded). I do no think this point has had an impact but I mention it anyway.

[2020-01-02 17:59] #284 closed

[2020-01-02 18:19] jonmikeli commented on #284
Not sure my changes have had an impact (I would not understand why because the settings are executed by another process). Once my PoCs with the kit over, I'll try to retest the process and if I reproduce the issue, I'll keep you posted. Thank you for your time.

[2020-01-03 01:07] MikeWilcoxMicrosoft opened #285 "Thoughts on Platform Tools - Documentation"
Regarding the Documentation page:  Platform Tools
https://azure.github.io/Vision-AI-DevKit-Pages/docs/platform_tools/#download-links

Maybe add this to Trouble Shooting ?

To Install the tools in Linux ( eg: Ubuntu on Windows 10 ):
# sudo apt install adb
# sudo apt install fastboot
Note, you might have to run
	#sudo apt-get update

However, if running adb in Ubuntu yields:

$ adb devices
List of d

[2020-01-03 03:48] MikeWilcoxMicrosoft opened #286 "Microsoft.Azure.Devices.Edge.Agent.Core.ConfigSources.ConfigEmptyException: This device has an empty configuration for the edge agent. Please set a deployment manifest."
We are setting up a new camera.
The camera connected to iothub and then disconnected.
Now we are getting three green LEDs ie connected to WIFI but NOT connected to IOT hub.

The following is in log file:

root@miwilcoxbook2:/usr/local/bin/platform-tools# ./adb shell docker logs -f edgeAgent
2019-12-28 00:16:15 +00:00 Starting Edge Agent
2019-12-28 00:16:15.563 +00:00 Edge Agent Main()
<6> 2019-12-

[2020-01-03 11:55] PuneetRahejaMS commented on #285
Hello @juniem ,  @MikeWilcoxMicrosoft has suggested an update in the documentation. Can you kindly look into this request.

[2020-01-03 12:22] PuneetRahejaMS commented on #286
@MikeWilcoxMicrosoft This happens when you create an Edge device in Azure IoT Hub and then launch the Edge runtime before setting up modules for the device in IoT Hub. Once a deployment has been done and the Edge runtime sees it, this should go away.

[2020-01-03 14:58] MikeWilcoxMicrosoft commented on #286
re: Edge runtime before setting up modules for the device in IoT Hub.
Can I get some direction on how to setup the modules in IOT Hub ?

[2020-01-03 15:56] MikeWilcoxMicrosoft opened #288 "Firmware update from 2680 to 5330 fails with three solid RED leds"
C:\Users\miwilcox\Documents\Vision Kit Microsoft\Tools\platform-tools_r29.0.5-windows\platform-tools>adb devices
List of devices attached
f6c3d974        device

C:\Users\miwilcox\Documents\Vision Kit Microsoft\Tools\platform-tools_r29.0.5-windows\platform-tools>adb shell cat /etc/version
v0.2680_Perf

C:\Users\miwilcox\Documents\Vision Kit Microsoft\Tools\platform-tools_r29.0.5-windows\platform-t

[2020-01-03 16:00] MikeWilcoxMicrosoft commented on #279
Maybe this screen shot will help ?
![image](https://user-images.githubusercontent.com/57420850/71733753-ea638800-2e0f-11ea-89d8-e6e52804ba88.png)

[2020-01-03 16:28] MikeWilcoxMicrosoft commented on #288
My bad, sorry team, I should have been patient.
We might need to add a wait time after the 'adb reboot bootloader'
I waited 2 minutes ( ie 120 seconds ) and the upgrade went forward..

Sample:

C:\Users\miwilcox\Documents\Vision Kit Microsoft\Tools\platform-tools_r29.0.5-windows\platform-tools>FastbootUpgrade_v6_5.bat
"Check adb device..."
"Check battery capacity..."
"Check fastboot files..."
"Reb

[2020-01-03 16:32] PuneetRahejaMS commented on #286
@MikeWilcoxMicrosoft you can refer to https://azure.github.io/Vision-AI-DevKit-Pages/docs/setup/

[2020-01-03 16:33] MikeWilcoxMicrosoft commented on #288
It appears that FastbootUpgrade_v6_5.bat indicates 'please wait 5 minutes are flash to check device'  yet FastbootUpgrade_v6_5.bat imediately calls  VisionAIDevKit_InstallCheck.bat which 1) wipes history which is annoying and 2) indicates the firmware upgrade failed ?  Maybe we should put in a delay in calling   VisionAIDevKit_InstallCheck.bat ?

[2020-01-03 16:39] PuneetRahejaMS commented on #288
@MikeWilcoxMicrosoft Thanks for your feedback. Will share it with the team

[2020-01-03 16:43] MikeWilcoxMicrosoft commented on #288
Glad to help... My 2020 resolution is the be 'patient'... Guess I need to work a little harder on that :)
I appreciate you guys !

[2020-01-03 17:01] MikeWilcoxMicrosoft commented on #286
No worries... I agree.
On azure I added the  ‘ AI Vision Dev Kit Get started ‘ to the IOT Edge device I created ( ie the camera)
via
Hit select > create > create  and validate >
After the module was added I had 3 of the 4 modules ie WebStreamModule was not loaded.

[2020-01-03 17:02] MikeWilcoxMicrosoft commented on #286
![image](https://user-images.githubusercontent.com/57420850/71737179-9610d600-2e18-11ea-9a47-40a38a67d73a.png)

[2020-01-03 17:05] MikeWilcoxMicrosoft commented on #286
![image](https://user-images.githubusercontent.com/57420850/71737302-e5570680-2e18-11ea-9596-e2d8c4ba28a7.png)

[2020-01-03 18:06] MikeWilcoxMicrosoft opened #289 "notes on OOTB Vision kit setup includes debugging and setup of the camera to IOTHub"
My notes for the OOTB Vision kit setup includes debugging and setup of the camera to IOTHub.
Feedback appreciated.

[NotesOnCameraDebuggingAndSetupMiwilcox010320v2.pdf](https://github.com/microsoft/vision-ai-developer-kit/files/4020273/NotesOnCameraDebuggingAndSetupMiwilcox010320v2.pdf)

[2020-01-03 18:49] MikeWilcoxMicrosoft commented on #285
I have consolidated my notes on this topic to https://github.com/microsoft/vision-ai-developer-kit/issues/289#issue-545098566

[2020-01-03 19:07] MikeWilcoxMicrosoft commented on #286
Which Container Registry is the webstream module stored in ?

[2020-01-03 23:16] #286 closed

[2020-01-06 03:51] vasantha-Mindtree commented on #289
@MikeWilcoxMicrosoft  we will look into it and get back to you

[2020-01-06 10:51] vasantha-Mindtree commented on #289
Hello @juniem  , @MikeWilcoxMicrosoft  has suggested an update in debugging and setup of the camera to IOTHub documentation. Can you kindly look into this request.

[2020-01-06 10:52] vasantha-Mindtree commented on #285
Closing this issue as duplicate of issue #289

[2020-01-06 10:52] #285 closed

[2020-01-07 20:34] jkubicka commented on #282
@yguipsot Has this issue been resolved? If not, please re-open this ticket. Thanks.

[2020-01-07 20:34] #282 closed

[2020-01-07 20:35] jkubicka commented on #288
Closing - please re-open if issue still persists. Thanks.

[2020-01-07 20:35] #288 closed

[2020-01-07 20:55] jkubicka commented on #279
This fastboot script issue should be fixed now - closing. Please re-open if issue still persists. Thanks.

[2020-01-07 20:55] #279 closed

[2020-01-08 06:46] MarcoWirtl opened #290 "Can't see webstream, rtsp stream with updated Firmware"
Hallo everybody,

I updated my camera to the newest Firmware:

![image](https://user-images.githubusercontent.com/58036042/71955960-14d78b80-31ea-11ea-801d-dfb9960d4154.png)

- Configured it for my WLAN and Azure --> LED's solid green
- All 4 docker containers are running:

![image](https://user-images.githubusercontent.com/58036042/71956296-0a69c180-31eb-11ea-882d-f845be899ac3.png)

Is the comman

[2020-01-08 07:02] PuneetRahejaMS commented on #290
@MarcoWirtl I hope you are not behind a Firewall which restricts ports. Can you also reboot the device once and check again.

[2020-01-08 08:03] V4A001 commented on #280
Help from VS Code team?
https://github.com/microsoft/vscode-remote-release/issues/1951

[2020-01-09 07:27] MarcoWirtl commented on #290
@PuneetRahejaMS

Already rebooted device and setted up again...

Still no ping --> no stream

How to check the restricts ports if they are some?

[2020-01-09 09:08] MarcoWirtl commented on #279
Updated my firmware.

My fastboot driver didn't work.

Tried in on a friends mac --> updated

[2020-01-09 09:52] #290 closed

[2020-01-13 03:18] SillyKeith opened #291 "ADB command documentation addition for when more than one ADB device is connected"
I had 2 ADB devices connected and the ADB commands need to know which device should run the commands.

If you have more than one ADB device connected or receive the below error "_error: more than one device and emulator_" then use the _-s_ switch when specifying commands.

IE:  adb -s _<visionDevice>_ shell
where _<visionDevice>_ = the device ID name listed from ADB devices.

[2020-01-13 05:53] vasantha-Mindtree commented on #291
@SillyKeith : Thanks for the information. We will look into it and update shortly

[2020-01-13 07:46] vasantha-Mindtree commented on #291
@juniem : There is a feedback regarding the current documentation. Can you kindly look into it.

[2020-01-14 10:44] PuneetRahejaMS commented on #289
@MikeWilcoxMicrosoft I've tested this and if you have sound on in your laptop you should be able to tell when to press a key to continue. You’ll first hear a sound of USB disconnecting and then reconnecting (when it’s safe to press a key). There have been cases where the USB never reactivates. It’s likely due to an issue with the USB-C cable itself.

[2020-01-14 11:04] #289 closed

[2020-01-15 02:42] brad-dixon commented on #263
I appear to be having the same kind of issue.  I'm new to IoT Edge so may need some direction but I've run "iotedge check" which produced the following output ...

**Configuration checks**
--------------------
√ config.yaml is well-formed - OK
√ config.yaml has well-formed connection string - OK
√ container engine is installed and functional - OK
√ config.yaml has correct hostname - OK
× config.ya

[2020-01-17 23:48] jkubicka opened #292 "Bug | Module Identity Twin - Object of Interest"
Repro steps - when doing the following in Module Identity Twin:

- Updating the Object of Interest to a different object
- Clicking Save
- It doesn't save or work in the module

[2020-01-22 04:11] PuneetRahejaMS commented on #280
@V4A001 Checking if further assistance was required on this issue?

[2020-01-22 16:56] PuneetRahejaMS commented on #291
Closing this request as the docs have been updated.

https://azure.github.io/Vision-AI-DevKit-Pages/docs/platform_tools/

[2020-01-22 16:56] #291 closed

[2020-01-23 05:59] brad302 opened #294 "Get Inferences Question"
Ok, I've tried to bundle my questions, hopefully I don't think of any others later and again, I do appreciate you taking the time to help me.

So call me crazy but in order to get a better handle on how the components of the camera hang together, I've decided to rebuild the MS Python SDK into a C# version.  So far it's been relatively straight forward, the postman collection and the Python SDK out

[2020-01-23 08:01] PuneetRahejaMS commented on #294
@Devinwong Can you kindly suggest

[2020-01-23 08:30] brad302 commented on #294
@PuneetRahejaMS @Devinwong I actually spoke to @initmahesh over another medium and he was going to pick this up and reply but of course I’m happy for anyone to answer.

[2020-01-27 20:52] jkubicka commented on #294
Hi @brad302 what was @initmahesh response to this?

[2020-01-27 21:08] brad302 commented on #294
No reply as of yet @jkubicka. He did ask me to raise it as an issue though because he said the answers will benefit a lot of others. He also said you guys did ask for a REST API for the inferences but you were given a system command instead. So yeah, definitely keen to understand a bit more.

[2020-01-27 21:12] jkubicka commented on #263
Closing issue - please re-open if still and issue.

[2020-01-27 21:12] #263 closed

[2020-01-27 21:19] jkubicka commented on #227
Closing - please re-open if still an issue. Thanks.

[2020-01-27 21:19] #227 closed

[2020-01-27 21:25] jkubicka commented on #91
Closing - please re-open if still an issue. Thanks.

[2020-01-27 21:25] #91 closed

[2020-01-27 22:22] initmahesh commented on #294
you understanding is correct you need gstreamer to decode and we only have python sample for this :(.
Now to do the part where you want to decode the results in C# you need to write the logic in qualcomm SDK in python to c# TO LEARN THIS HERE ARE STEPS

1. Open QCM SDK documentaion here
      https://github.com/microsoft/vision-ai-developer-kit/blob/master/camera-sdk/sdk_api_docs/index.html

2. th

[2020-01-28 00:03] brad302 commented on #294
@initmahesh, thanks man.

Let me just stew on that for a bit, the one thing I overlooked was the installation instructions for gstreamer.  I've looked through the SDK doco but managed to miss that somehow.

As for the sample programs, yep, had already been all over that, it helped me get my C# REST API calls going.

[2020-01-28 00:19] brad302 commented on #294
@initmahesh you have no idea how exciting it was to see this ...!  I'm away!

![Camera Inferencing](https://user-images.githubusercontent.com/14899088/73225199-f1d44200-41bf-11ea-8934-fce134d1ad02.png)

[2020-01-28 00:45] initmahesh commented on #294
I am surprised i thought you will need a remote session ! GREAT WORK!!!

[2020-01-28 00:56] brad302 commented on #294
Yeah, the above is, it's from my workstation and the camera is sitting next to me disconnected but on the same network ... if that's what you class as being a "remote session" anyway.  I have to say though, the output is bloody disgusting but so be it, I can work with it.

Thanks again for the kickstart.  I'd realised I was so close to answering my own questions but sometimes you just need another

[2020-01-28 03:52] MikeWilcoxMicrosoft opened #296 "Camera needs to send userid and password in order to access the internet"
We need help w/ securing Internet access to & from the Visionai camera.

The camera will need to use a user id and password in order to auth to the customer firewall before access to the internet is allowed. I assume we can use a proxy server of some kind ?

[2020-01-28 03:54] MikeWilcoxMicrosoft opened #297 "How to add security to the ML zip file in BLOB"
Is there a way to add security to the ML BLOB zip file. We noticed the “public access level setting of ‘Private’ “ prevents download of the zip file to the camera?  Also is anonymous download is blocked how can we can we add a serivce id and secret so the camera can downloud the zip file in BLOB storage ?

[2020-01-28 05:23] v-prsasa commented on #296
We are looking into it. We will update it shortly

[2020-01-28 05:23] v-prsasa commented on #297
We are looking into it. We will update it shortly.

[2020-01-28 10:24] vasantha-Mindtree opened #298 "Test Issue to sync to PowerBI"
Test Issue to sync issues to PowerBI

[2020-01-28 10:33] vasantha-Mindtree commented on #298
Looking into it

[2020-01-28 10:34] vasantha-Mindtree commented on #298
Looking into it

[2020-01-28 10:43] vasantha-Mindtree commented on #298
Looking into it

[2020-01-29 04:12] PuneetRahejaMS commented on #280
@V4A001 Closing please reopen if further support is required

[2020-01-29 04:12] #280 closed

[2020-01-29 04:29] PuneetRahejaMS commented on #294
closing this issue as it's resolved.

[2020-01-29 04:29] #294 closed

[2020-01-29 06:04] vasantha-Mindtree commented on #298
Looking into it

[2020-01-29 06:11] vasantha-Mindtree commented on #298
Looking into it

[2020-01-29 06:18] vasantha-Mindtree commented on #298
Looking into it

[2020-01-29 06:33] v-prsasa commented on #298
Looking into it.

[2020-01-29 14:53] PuneetRahejaMS commented on #297
Including @initmahesh for help.

[2020-02-02 05:37] anilvpr opened #299 "WiFi credentials are not persistent after rebooting the Vision AI Dev Kit"
1. Followed the instructions in step-3 of https://azure.github.io/Vision-AI-DevKit-Pages/docs/quick_start/ page.
2. WiFi Access Point credentials (SSID and Password) configured
3. Able to acess internet (Azure IoT) via this Access Point, everything is going well !!
4. Now power down the Dev Kit and power it up again
5. I expect the Dev Kit to automatically connect to the Access Point configured in

[2020-02-03 05:18] v-prsasa commented on #299
We are looking into it.

[2020-02-03 06:44] v-prsasa commented on #299
@anilvpr Can you try to reset your device once and verify.
You can follow this link- https://azure.github.io/Vision-AI-DevKit-Pages/docs/reset/

[2020-02-03 06:49] brad302 commented on #299
@anilvpr, are you on the latest firmware? Just a thought.

[2020-02-03 07:34] PuneetRahejaMS commented on #296
@MikeWilcoxMicrosoft, The dev kit doesn’t support entering credentials on a pop-up page.
If a proxy is preferred, you may need to whitelist the device (like Mac Address) in advance so that it can be connected automatically without entering credentials.

[2020-02-03 07:56] anilvpr commented on #299
@v-prsasa Issue is resolved after device reset. Thank you.

[2020-02-03 07:56] #299 closed

[2020-02-03 10:01] v-prsasa commented on #75
@Devinwong Any update on this?

[2020-02-03 10:38] v-prsasa commented on #96
@naivelogic Any update on this?

[2020-02-03 10:44] v-prsasa commented on #124
@Devinwong Any update on this?

[2020-02-03 10:48] v-prsasa commented on #166
@jkubicka An update on this?

[2020-02-03 11:19] v-prsasa commented on #267
@V4A001 Any update on this?

[2020-02-03 23:12] jkubicka commented on #166
@v-prsasa No update yet. Please follow up with Devin via email on when we can get this fixed in the next firmware version release.

[2020-02-05 17:01] PuneetRahejaMS commented on #296
Closing. Please contact us in case of further queries

[2020-02-05 17:01] #296 closed

[2020-02-09 15:43] herbzacz opened #300 "requirments.txt outdated"
requirements.txt is outdated
some of the Azure packages have specific dependencies and let not run the whole script (research/VisionSample/MachineLearning/ssdsample)

[2020-02-10 12:35] PuneetRahejaMS commented on #300
@herbzacz Thanks for pointing it out. Let me get back to you.

[2020-02-11 03:41] Devinwong commented on #267
The issue was fixed. Validating the new firmware. Will release it once it's done. probably within 2 weeks.

[2020-02-12 02:20] #298 closed

[2020-02-12 03:36] PuneetRahejaMS commented on #267
Closing Since the fix will be available in the next Firmware release.

[2020-02-12 03:36] #267 closed

[2020-02-13 07:38] anilvpr opened #302 "Issue with Vision AI DevKit Postman Collection"
Followed the steps outlined in Vision AI DevKit Postman Collection Readme. Able to login to the Camera using "Login" method. However the subsequent REST APIs like "Get preview config", "Get preview info (RTSP url) etc. fails despite updating the Environment with sessionId copied from the response for "Login" request.

[2020-02-13 07:47] PuneetRahejaMS commented on #302
@anilvpr Do you see any error message

[2020-02-13 08:35] anilvpr commented on #302
Summary of my observations:
1. Booted VAIDK. After a while connected the ADB cable and logged into the shell using "adb shell"
2. Checked the IP address "ifconfig wlan0"
3. Log retried using "logcat" command is attached as "logdump_1.txt"
4. Run vlc player on Host PC and opened the network stream via RTSP
5. Everything is fine so far
6. Now launched Postman App on Host PC
7. Imported "vision-ai-de

[2020-02-13 09:30] PuneetRahejaMS commented on #302
@anilvpr Thanks for sharing the details. Allow me some time to get back

[2020-02-18 19:25] namkedia opened #303 "RTSP using the liv link fails with VLC"
Connection failed:
VLC could not connect to "--:8900".
Your input can't be opened:
VLC is unable to open the MRL 'rtsp://--:8900/live'. Check the log for details.

[2020-02-18 19:52] MS-Nikunja commented on #303
We are looking into it. We will update it shortly.

[2020-02-18 19:55] mwitman opened #304 "Unable to connect camera from customer's private network"
My customer is getting a "Your camera failed to download Azure IoT Edge runtime" error when attempting to connect the camera on their internal corp network using OOBE.  After connecting the camera to their internal AP they get an "Internet capability seems bad, try changing to another network" error.  Since the error is only a warning message after they click next it sits on the "downloading Azure

[2020-02-18 20:32] MS-Nikunja commented on #304
@mwitman We are looking into it. Allow us some time to get back.

[2020-02-19 05:48] PuneetRahejaMS commented on #303
@namkedia I hope you followed https://azure.github.io/Vision-AI-DevKit-Pages/docs/RTSP_stream/
if not kindly go through it.

[2020-02-19 06:13] PuneetRahejaMS commented on #304
@mwitman this can happen due to restrictions in corporate netwoks,
Using ADB shell, can you run the below command and see if the device has picked up the IP
Open a command prompt as "Run as Administrator"

Command cd <platform tools path>

Then use command adb shell ifconfig -a
then try to ping
ping <device IP address>,

[2020-02-24 21:14] jkubicka commented on #292
Hi @DavidGrob-V-MS Any update on ETA for this one?

[2020-02-24 21:24] jkubicka commented on #302
Hi @drwill-ms There seems to be an issue with Postman Collection you committed awhile ago - any idea on how to resolve?

[2020-02-24 22:19] drwill-ms commented on #302
PostMan is the method for sending the request to the camera. It does not control the camera's response.

The only hitch I ran into when using the PostMan methods, was that the camera sometimes expires sessionId. When that happens, one must log in again, and update their sessionId.

[2020-02-25 01:39] jkubicka commented on #302
Thanks for the response @drwill-ms Any idea why REST APIs like "Get preview config", "Get preview info (RTSP url) etc. fails would fail?

@anilvpr Are you still seeing this issue with these REST APIs?

[2020-02-26 06:58] PuneetRahejaMS commented on #297
@MikeWilcoxMicrosoft There is a potential solution based on the below link.

https://stackoverflow.com/questions/42875787/download-all-blobs-files-locally-from-azure-container-using-python

[2020-02-26 10:38] PuneetRahejaMS commented on #304
@mwitman do you have any update for us. Was this resolved or needs further attention.

[2020-02-26 10:39] PuneetRahejaMS commented on #303
@namkedia Was your issue resolved or needs further support. Kindly update

[2020-02-27 01:25] drwill-ms commented on #302
I loaded my camera up and tried the repro steps. I also got a false status when running "Get preview info". I tried "Set preview on/off", which came back status true, and then reran "Get preview info" which succeeded. The postman collection seems to work, but the REST API seems to be finicky in the order in which calls can be made.

I don't know why the camera behaves that way. We don't own that R

[2020-02-27 01:25] #302 closed

[2020-02-28 22:52] V4A001 commented on #280
Help still appreciated. Able to run container in VS code now. However, crashed on
    if ipc_provider is None:
        print("Create camera with no ipc_provider")
        return CameraClient.connect(
            ip_address=ip_address,
            username=username,
            password=password)

[2020-02-28 23:00] V4A001 commented on #280
HTTPConnectionPool(host='172.17.0.1', port=1080): Max retries exceeded with url: /login

[2020-02-28 23:03] V4A001 commented on #280
I believe it tries to connect to the python module that runs the camera, but cannot find it...hmmm.how to do that.
Create camera with no ipc_provider
2020-02-28 23:01:54,627 - iotccsdk - INFO - ipcprovider - connect:264 - API: http://172.17.0.1:1080/login data: {'username': 'admin', 'userpwd': 'admin'}

[2020-03-01 13:08] PuneetRahejaMS commented on #303
Closing, Kindly re-open if further support is required.

[2020-03-01 13:08] #303 closed

[2020-03-01 13:08] PuneetRahejaMS commented on #304
Closing, Kindly re-open if further support is required.

[2020-03-01 13:08] #304 closed

[2020-03-01 13:09] PuneetRahejaMS commented on #297
@MikeWilcoxMicrosoft Were you able to try the above solution?

[2020-03-03 08:29] PuneetRahejaMS commented on #280
@V4A001 It seems you are trying to connect to the IPC webserver which controls the SNPE (inference engine).
You can refer to these code snippets.
https://github.com/microsoft/vision-ai-developer-kit/blob/499b19b638135e731ed54217d9eca61492cb8382/samples/official/ai-vision-devkit-get-started/modules/AIVisionDevKitGetStartedModule/main.py#L35
Another suggestion is to connect to localhost(127.0.0.1) a

[2020-03-05 16:00] initmahesh opened #305 "camera tagging module doe snto stream any video while on the same setup vlc media works"
i have deployed the camera tagging module
/ # docker ps
CONTAINER ID        IMAGE                                                         COMMAND                   CREATED             STATUS              PORTS                                                                  NAMES
3e9d3f5f8913        mcr.microsoft.com/azureiotedge-hub:1.0                        "/bin/sh -c 'echo \"$…"   20 minutes

[2020-03-05 16:32] PuneetRahejaMS commented on #305
@initmahesh Thanks for bringing this up. I'm checking with the owner of the module.

[2020-03-05 17:11] PuneetRahejaMS commented on #305
@initmahesh Just to confirm. Are you referring to this module https://github.com/microsoft/vision-ai-developer-kit/tree/e179b16c6b6f18ff6239407ba5ecf224c838b7e8/samples/official/camera-tagging ?

[2020-03-11 14:42] PuneetRahejaMS commented on #305
@initmahesh Can you confirm if you are referring to this module https://github.com/microsoft/vision-ai-developer-kit/tree/e179b16c6b6f18ff6239407ba5ecf224c838b7e8/samples/official/camera-tagging

[2020-03-24 08:12] PuneetRahejaMS commented on #305
@DavidGrob-V-MS Can you kindly help on this.

[2020-03-24 17:08] DavidGrob-V-MS commented on #305
Worked with Mahesh offline when the issue was seen. Switching to Chrome browser solved the problem for him. Viewing the stream in the Edge browser has not been tested on the module. Users should use chrome for the time being.

[2020-03-25 05:39] PuneetRahejaMS commented on #305
Closing, and as per David's suggestion, This module currently only works on Chrome.

[2020-03-25 05:39] #305 closed

[2020-04-08 21:39] v-prsasa commented on #75
@Devinwong Any update on this?

[2020-04-10 17:59] DavidGrob-V-MS commented on #300
@herbzacz I was able to run through the existing requirements.txt with issue using the following to test: \GitHub\VisionFork\vision-ai-developer-kit\samples\research\VisionSample\MachineLearning\scripts>pip install --upgrade -r requirements.txt

Can you give us more details on which script is failing and at what error you are seeing?

[2020-04-10 19:01] DavidGrob-V-MS commented on #292
Tested today and updating twin property from the Azure portal worked as expected with the current version of the module. I changed object of interest from "ALL" to "TV" (logging output from the camera below) . This functioned as expected and IoT hub messages were only sent for TV after the setting was updated. If the user is viewing the twin properties in the azure portal for a while before making

[2020-04-10 19:26] jkubicka commented on #292
Thanks @DavidGrob-V-MS Appreciate your help on this! :)

Hi @initmahesh David was unable to repro - are you still seeing this issue? If not, please let us know and we'll close this ticket. Thanks!

[2020-04-10 19:27] jkubicka commented on #292
@PuneetRahejaMS Please close after 2 days if no response. Thanks.

[2020-04-13 09:11] PuneetRahejaMS commented on #292
Closing since it's a repro. Reopen if required.

[2020-04-13 09:11] #292 closed

[2020-04-13 09:13] PuneetRahejaMS commented on #292
Done

From: Jan Kubicka <notifications@github.com>
Sent: 11 April 2020 00:58
To: microsoft/vision-ai-developer-kit <vision-ai-developer-kit@noreply.github.com>
Cc: PuneetRahejaMS <puneet.raheja@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vision-ai-developer-kit] Bug | Module Identity Twin - Object of Interest (#292)

@PuneetRahejaMS<https://github.com/PuneetRahejaMS>

[2020-04-25 19:02] toolboc opened #309 "Hardcoded Username/Password"
There is a hardcoded Username/Password of `admin:admin` at the following:

https://github.com/microsoft/vision-ai-developer-kit/blob/a939db6e99c15c164e1500c765ff1e851cecd4d2/samples/official/camera-tagging/modules/CameraTaggingModule/CameraServerModule/scripts/mpeg4-stream.js#L174

This should be removed, if a user needs to provide a username password combination it can be supplied in the `RTSP_IP

[2020-04-27 08:20] MS-Nikunja commented on #309
@DavidGrob-V-MS Can you take a look at this.

[2020-04-27 09:28] PuneetRahejaMS commented on #300
Closing. Kindly re-open if further support is needed.

[2020-04-27 09:28] #300 closed

[2020-04-27 09:29] PuneetRahejaMS commented on #297
Closing, Kindly reopen if further support is required.

[2020-04-27 09:29] #297 closed

[2020-04-28 19:30] Teodelas opened #311 "Unable to use the Camera Tagging module"
I built and deployed the Camera tagging module and get the error in the docker logs:
exec user process caused "exec format error"

[2020-04-28 19:54] v-prsasa commented on #311
@Teodelas  Just to confirm. Are you referring to this module https://github.com/microsoft/vision-ai-developer-kit/tree/e179b16c6b6f18ff6239407ba5ecf224c838b7e8/samples/official/camera-tagging ?

[2020-04-28 22:05] Teodelas commented on #311
Actually this. I had built this for the wrong platform.

From: v-prsasa <notifications@github.com>
Sent: Tuesday, April 28, 2020 3:55 PM
To: microsoft/vision-ai-developer-kit <vision-ai-developer-kit@noreply.github.com>
Cc: Teo De Las Heras <teodelas@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vision-ai-developer-kit] Unable to use the Camera Tagging module (#311)

[2020-04-28 22:06] #311 closed

[2020-04-28 22:06] Teodelas commented on #311
Didn't compile for ARM32

[2020-04-29 10:26] PuneetRahejaMS commented on #96
@ksaye Revisiting this old thread. Do you need further support on this?

[2020-04-29 10:27] PuneetRahejaMS commented on #211
Closing. Kindly reopen if further support is needed.

[2020-04-29 10:27] #211 closed

[2020-04-29 19:52] DavidGrob-V-MS commented on #309
@MS-Nikunja sure thing. I'll take a look.

[2020-05-01 08:29] PuneetRahejaMS commented on #206
since the product is developer kit, the user can program/develop this feature (and hopefully share for others’ future use)

[2020-05-01 08:29] #206 closed

[2020-05-01 08:31] PuneetRahejaMS commented on #213
just by design and haven’t seen issues since this was reported long ago

[2020-05-01 08:31] #213 closed

[2020-05-09 08:20] PiyalGeorge opened #312 "Is Object detection possible using MobilenetSSD with snpe"
Hi, I converted my mobilenetSSD caffe model to .DLC file with snpe APIs. When i run snpe-net-run command it returns .raw files as output. Can i get the detection coordinates to draw the Bounding boxes? Is it possible with this .dlc file?

[2020-05-11 02:08] v-prsasa commented on #312
We are looking into it.

[2020-05-11 04:56] PiyalGeorge commented on #312
@v-prsasa , Thanks for the reply and effort. This guy has shown me the result -
https://github.com/globaledgesoft/AIML-Board-App/issues/4#issuecomment-626290832

It will be helpful if you could show me how to run this in qcs605 or similar board. I mean what all snpe files need to copied into the board. I'm copying snpe-1.37.0.788/lib/aarch64-linux-gcc4.9 files, but still getting error.

[2020-05-11 08:42] v-prsasa commented on #312
@Devinwong Hi Devin, can you look into this issue?

[2020-05-12 14:47] PuneetRahejaMS commented on #312
@PiyalGeorge  the SNPE along with VAIDK firmware is 1.25. If I understand correctly, you are trying to upgrade the firmware to SNPE1.37 in order to run your DLC which was also converted by SNPE 1.37 SDK. This is not trivial and it also needs official support from Qualcomm to make an upgrade.

[2020-05-12 22:07] smeno004 opened #313 "[Support Needed] Unable to remotely view camera logs"
I have a module deployed on the camera and it has been working as expected. I used to be able to ssh into the camera to check logs. However, recently, I have been trying and failing to view the camera logs by ssh-ing into the device. I checked the ip address on the module twin on azure portal (as well as using adb when directly connected to the device).

When attempting to ssh, I was unable to con

[2020-05-13 03:15] v-prsasa commented on #313
@smeno004 Hi Siddhart, Can you reset your device again and try once.
Here is the link to perform the reset-https://azure.github.io/Vision-AI-DevKit-Pages/docs/reset/
You can follow this link.

[2020-05-13 21:34] smeno004 commented on #313
I have tried to reset the device, but that hasn't fixed the issue.

[2020-05-14 03:59] v-prsasa commented on #313
When you configure device, you must wait till it downloads the docker properly it also depends on your network speed. I will suggest you Reset your device by pressing the power button for 12+ seconds and reconfigure it again also delete it from Azure portal.

I will suggest you to try these steps also:
To make sure the RTSP stream for the device is working:

1. Make sure the device is connected to

[2020-05-18 04:56] v-prsasa commented on #313
@smeno004 Is this issue resolved?

[2020-05-18 22:38] smeno004 commented on #313
@v-prsasa Sorry, I haven't had a chance to test out your suggestions yet. I should be able to do it by tomorrow. I will update when I have done so.

[2020-05-19 23:35] smeno004 commented on #313
I reset my device and reconfigured it. I found the device IP as you suggested. I pinged it and got replies from within the adb shell. However, when I attempted the ping on my machine through Command Prompt, I received the following reply: "Destination Host unreachable". Is there anything else I can check?

[2020-05-20 09:10] v-prsasa commented on #313
@smeno004 When you try to ping from your machine through command prompt you have to change the network it should not be under camera's wifi, It should be in your network.I Tested it in my machine not in adb shell and it is working fine.
I am attaching the screenshot.
<img width="427" alt="VAIDK1" src="https://user-images.githubusercontent.com/58968154/82428246-da3f0300-9aa7-11ea-8b23-2563f926d4e1.

[2020-05-21 21:29] smeno004 commented on #313
I ensured that it wasn't under the camera's wifi, but I still get the "Destination host unreachable error" (attaching screenshot). Could this be a firewall issue of some sort that I need to troubleshoot?
![vaidk_troubleshoot_image_1](https://user-images.githubusercontent.com/14913196/82608397-75e77680-9b6f-11ea-96d5-a9aa57578082.jpg)

[2020-05-22 03:00] v-prsasa commented on #313
@smeno004  As per my Testing and observation I think so it is some sort of firewall issue from your side because connections and everything is fine. It should work properly.

[2020-05-27 03:01] v-prsasa commented on #309
@DavidGrob-V-MS Hey David, Is there any update regarding this issue?

[2020-05-27 03:02] v-prsasa commented on #312
@PiyalGeorge Is this issue resolved?

[2020-05-27 09:34] wmeints opened #314 "Missing requirements.txt in sample"
Hi, I'm trying to run the sample in https://github.com/microsoft/vision-ai-developer-kit/tree/master/samples/research/VisionSample/MachineLearning/ssd_sample and can't get it to work properly. It seems as if I'm using the wrong version of the required packages. But I can't really figure out how to fix that without a `requirements.txt`. Is there any way that I can find the versions for the differen

[2020-05-27 20:01] DavidGrob-V-MS commented on #309
Pull request https://github.com/microsoft/vision-ai-developer-kit/pull/310 from https://github.com/toolboc has been approved and has a fix for the issue

[2020-05-27 20:39] MS-Nikunja commented on #314
Hi @wmeints, we are looking into it.

[2020-05-27 20:50] #309 closed

[2020-05-28 06:13] v-prsasa commented on #314
@DavidGrob-V-MS Can you look into the above issue?

[2020-05-28 22:13] #313 closed

[2020-06-01 23:13] v-prsasa commented on #314
@DavidGrob-V-MS Hey david,
Is there any update on this?

[2020-06-02 18:00] v-prsasa commented on #314
@drwill-ms Hi David, Can you look into this issue?
Our user is facing issue to run the sample in  https://github.com/microsoft/vision-ai-developer-kit/tree/master/samples/research/VisionSample/MachineLearning/ssd_sample

[2020-06-03 00:22] v-prsasa commented on #314
@wmeints Can you update the requirements.txt file with the correct version and run again.
It should work fine

[2020-06-04 22:00] georgegoglodze opened #315 "iotccsdk - ERROR - ipcprovider - on_error:340 - Camera Restarted! Exiting!!"
Hello everyone, as soon as Camera starts I see the following log in "AIVisionDevKitGetStartedModule" module:      `iotccsdk - ERROR - ipcprovider - on_error:340 - Camera Restarted! Exiting!!`
Can you please advise what is the fix? I have reseted device and reprovisioned firmware as well.

[2020-06-04 22:09] v-prsasa commented on #315
@georgegoglodze Hi George, We will look into this.

[2020-06-04 22:14] v-prsasa commented on #315
@georgegoglodze George can you do full factory reset to the device and you should have latest firmware too. Below is the link to do full factory reset:
 https://azure.github.io/Vision-AI-DevKit-Pages/docs/reset/

[2020-06-04 22:51] georgegoglodze commented on #315
Thanks for the reply @v-prsasa I did it exactly already but did it again as you asked but still no luck.
Error log:
![image](https://user-images.githubusercontent.com/52762176/83818042-4fa7f780-a694-11ea-99c6-0662fcea093f.png)

Firmware is the latest as well:
[code]

[2020-06-04 22:53] v-prsasa commented on #315
@georgegoglodze Thanks for the update. Let me try once and will get back to you soon.

[2020-06-04 22:56] georgegoglodze commented on #315
Thanks a lot. This is the URI I use on IoTEdge to pull ML Module:
  `    "ModelZipUrl": "https://irisprodeu2training.blob.core.windows.net/m-2490ebbfd819468db633f1c2e4012925/4637be70b2bd4183a5f3a6d109392e74.VAIDK.zip?sv=2017-04-17&sr=b&sig=k%2FML2E%2F8iCaxHGjgc1mkYZxwf5AIXWZedS%2Fc4WBPtT0%3D&se=2020-06-05T21%3A22%3A59Z&sp=r",
`

[2020-06-05 00:38] georgegoglodze commented on #315
Hi @v-prsasa, by default the OS **date** was not correct I adjusted manually and so far works like a charm :) Thanks for the responses.
`date -s "4 Jun 2020 20:29:00"`

[2020-06-05 00:45] v-prsasa commented on #315
@georgegoglodze Okay no problem. I am closing this issue.
Kindly reopen the case if further support is required

[2020-06-05 00:46] v-prsasa commented on #315
Closing as issue is resolved now

[2020-06-05 16:29] itsjpavank opened #316 "http://setupaicamera.ms doesn't resolved"
I'm able to connect to MSIoT-****** on Wifi. But, still unable to resolve http://setupaicamera.ms

[2020-06-05 17:59] v-prsasa commented on #316
@itsjpavank  Hi Pavan,
We will look into this issue.

[2020-06-05 18:02] v-prsasa commented on #316
@itsjpavank Can you go through this link-
https://azure.github.io/Vision-AI-DevKit-Pages/docs/quick_start/#configure-the-camera-for-your-wi-fi-network
It has step by step process.

[2020-06-05 18:05] itsjpavank commented on #316
@v-prsasa : Yes, I did look at that post. But, that will only work when http://setupaicamera.ms resolves. My problem is, that site doesn't resolve in my local

[2020-06-05 19:25] v-prsasa commented on #316
@itsjpavank Are you connected to your camera's wifi while opening this -http://setupaicamera.ms ?

[2020-06-05 19:27] itsjpavank commented on #316
@v-prsasa : Yes

[2020-06-05 19:35] v-prsasa commented on #316
@itsjpavank At this point after investigating and testing in camera I can say you to do a full factory reset and am sure it will work.Below is the link to reset your device:
https://azure.github.io/Vision-AI-DevKit-Pages/docs/reset/

[2020-06-05 19:38] itsjpavank commented on #316
@v-prsasa : You are talking about following below steps and step 3 wouldn't work again :-)

1. Press power button for 5 seconds setting the device back to Access Point mode
2. When the device is flashing the leds log in to the devices access point
3. Access setupaicamera.ms
4. You’ll be prompted the options to either change WiFi settings or reset the camera.

[2020-06-05 19:41] v-prsasa commented on #316
@itsjpavank No sometimes it happens due to some error or connection problem to.. So I just want you to do it again. Can you try once?

[2020-06-05 19:51] v-prsasa commented on #316
@itsjpavank What I have observed is when you connect to MSIOT***** it will automatically redirect to http://setupaicamera.ms. No need to open it separately.

[2020-06-05 19:52] itsjpavank commented on #316
Unfortunately, it's doesn't redirect

[2020-06-05 19:54] v-prsasa commented on #316
@itsjpavank My suggestion would be try to reset once.

[2020-06-05 20:01] itsjpavank commented on #316
![image](https://user-images.githubusercontent.com/13517116/83917969-a234f280-a72c-11ea-9f19-1dc632ec241d.png)
![image](https://user-images.githubusercontent.com/13517116/83917978-a6611000-a72c-11ea-99a6-ff31e542aaf3.png)

[2020-06-05 20:06] v-prsasa commented on #316
@itsjpavank Is your camera wifi is connected to your wifi properly?
I am giving you the link to troubleshoot wifi problem-https://azure.github.io/Vision-AI-DevKit-Pages/docs/wifi_issues/

[2020-06-05 20:32] itsjpavank commented on #316
Since, I'm getting blocked on this path. I have conencted to MSIT_*** via my phone and was able to complete the setup. Finally, landed on to 3000 end point - but I don't see any live stream, is this expected ?

![image](https://user-images.githubusercontent.com/13517116/83920062-d14d6300-a730-11ea-89fa-f71d3c7fdb3d.png)

[2020-06-05 20:35] v-prsasa commented on #316
@itsjpavank No, You will see the live stream. It happens due to slow network or slow connection of internet.It takes time to reflect. May be your phone internet connection is slow so it's taking time.

[2020-06-05 20:41] itsjpavank commented on #316
It's connected to my home's Wifi (not phone's internet)

[2020-06-05 20:43] v-prsasa commented on #316
@itsjpavank Apologies. As I said it must be due to slow connectivity but it will reflect the live webstream. It's not expected to be blank.

[2020-06-05 20:47] itsjpavank commented on #316
Yes, indeed - it started to work now.

[2020-06-05 20:49] v-prsasa commented on #316
@itsjpavank It's great. Can I close this case the or any other support is required?

[2020-06-05 20:50] itsjpavank commented on #316
Yes, please close. I'm good

[2020-06-05 20:51] v-prsasa commented on #316
Closing this case as per the confirmation.

[2020-06-05 20:51] #316 closed

[2020-06-06 03:16] georgegoglodze commented on #315
Hi @v-prsasa  unfortunately the issue is still here...
I keep receiving the following error:

[code]

I rebooted AI Camera couple times, restarted modules but no luck...

[2020-06-08 18:39] v-prsasa commented on #315
Can you re-open this issue?

[2020-06-09 00:12] v-prsasa commented on #314
@wmeints Is your issue resolved?

[2020-06-09 16:40] georgegoglodze commented on #315
@v-prsasa  I dont know how I can reopen this issue... Please reopen if you can or point me to right steps so I can reopen on my own. thanks in advance.

[2020-06-09 16:42] v-prsasa commented on #315
As per user request

[2020-06-09 22:16] v-prsasa commented on #315
@georgegoglodze Have you checked with OS date?

[2020-06-10 11:59] georgegoglodze commented on #315
@v-prsasa Yes, time/timezone is correct...

[2020-06-11 06:03] wmeints commented on #314
Looks like it's working again. Thanks for the support!

[2020-06-11 06:03] #314 closed

[2020-06-18 21:01] v-prsasa commented on #315
@georgegoglodze Is your issue resolved?

[2020-06-19 15:53] Pratheek-Dev opened #317 "Not able to see HDMI/ rtsp output"
I have the set up the DevKit following the GetStarted module. I have all four modules (edgeAgent, EdgeHub, AIVisionDevKitGetStartedModule, and WebStreamModule) running on the device.

**The docker logs for 'WebStreamContainer':**
Listening for incoming mp4 stream on http://127.0.0.1:3001/camera
Awaiting WebSocket connections on ws://127.0.0.1:3002
Webserver listening, configured on port 3000

**Do

[2020-06-19 17:45] v-prsasa commented on #317
@Pratheek-Dev We will look into this.

[2020-06-19 19:53] Pratheek-Dev commented on #317
Hi @v-prsasa what is the recommended stable firmware version to run on the device?

[2020-06-19 19:55] v-prsasa commented on #317
@Pratheek-Dev  v0.5370 - Current version 2020-02-26.
You may find it here - https://store.altek.com.tw/qualcomm/downloads/Azure-IoT-Starter-Kit

[2020-06-19 19:57] Pratheek-Dev commented on #317
Would you recommend upgrading to the latest? I get the following from the version output:
adb shell cat /etc/version
v0.2680_Perf

[2020-06-19 19:58] v-prsasa commented on #317
Yes you should use latest firmware.Kindly upgrade it and try once again.

[2020-06-19 20:08] Pratheek-Dev commented on #317
Thanks, I will update this thread once I do.

[2020-06-19 20:09] v-prsasa commented on #317
Yeah sure. Kindly update us after that.

[2020-06-19 21:21] Pratheek-Dev commented on #317
Hi @v-prsasa I have the latest firmware, and I am able to see the model scoring, but still can't get the HDMI, webstream, or rtsp to work (get the camera output):

Here is the model log which seems to be working fine:
Found result object
{"confidence": 90, "width": 927.936, "label": "person", "position_x": 24.96, "position_y": 164.916, "id": 2, "height": 895.968}
Confirmation[0] received for messa

[2020-06-19 21:25] v-prsasa commented on #317
Can you go through this link-https://azure.github.io/Vision-AI-DevKit-Pages/docs/RTSP_stream/

[2020-06-19 21:28] Pratheek-Dev commented on #317
Yes, that's the link I followed already and tested with VLC player

[2020-06-19 21:29] v-prsasa commented on #317
Okay.let me try once then

[2020-06-19 22:20] v-prsasa commented on #317
Hey, I have tried in my camera and it is working fine. I am attaching screenshot.For me it's working in web stream video. I tried in vlc it's showing some kind of error.I am working on that error.
Can you try to refresh your web stream page and your camera should be in same network.
![image](https://user-images.githubusercontent.com/58968154/85183282-cbb35980-b2a8-11ea-8516-6605289185d5.png)

[2020-06-19 22:28] v-prsasa commented on #317
Hi @Pratheek-Dev , I got to know what's the problem with the rtsp in vlc. While applying the RTSP address in vlc apply the 2nd url which is mentioned. I have attached the screenshot. You can verify from it.
![image](https://user-images.githubusercontent.com/58968154/85183682-2ef1bb80-b2aa-11ea-984f-28690456f42a.png)

![image](https://user-images.githubusercontent.com/58968154/85183636-0c5fa280-b2a

[2020-06-19 23:04] Pratheek-Dev commented on #317
I've tried both of those rtsp URLs neither of them work unfortunately.

[2020-06-19 23:06] v-prsasa commented on #317
Can you share me the screenshot that what error you are getting?

[2020-06-23 07:29] MS-Nikunja commented on #315
Hi @georgegoglodze Is your issue resolved?

[2020-06-23 11:19] georgegoglodze commented on #315
Hello, no the issue is still open however we decided not to use the
camera going forward.
Please close the issue.

On Tue, Jun 23, 2020 at 3:29 AM MS-Nikunja <notifications@github.com> wrote:

[2020-06-23 14:56] v-prsasa commented on #315
Closing this case as per users confirmation

[2020-06-23 14:56] #315 closed

[2020-06-23 18:30] v-prsasa commented on #312
@PiyalGeorge Is your issue resolved?

[2020-06-23 18:57] PiyalGeorge commented on #312
Yes @v-prsasa , the issue is resolved. https://github.com/globaledgesoft/AIML-Board-App/issues/4#issuecomment-626290832
Thanks for the help.

[2020-06-23 18:57] #312 closed

[2020-06-23 19:12] v-prsasa commented on #317
@Pratheek-Dev Hey pratheek, Is your issue resolved ? if not can you attach the screenshot of the error which you are getting?

[2020-06-23 19:44] Pratheek-Dev commented on #317
Hi @v-prsasa I tried resetting the device and recreating a new IoT Edge Device, but the same issue persists:

This site can’t be reached 192.xxx.x.xx refused to connect.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_REFUSED

Can you share which images are running on your device? Are they the stock images found on the IoT Kit? I will try to rebuild the deployment

[2020-06-24 18:57] lokijota opened #318 "Can I upgrade the version of Python on the device to 3.8.3?"
Or will this break something?

[2020-06-24 19:25] v-prsasa commented on #318
@lokijota We are looking into this issue and will get back to you.

[2020-06-24 21:30] v-prsasa commented on #317
@Pratheek-Dev Hey Pratheek,
First of all I want to say if it's connection problem then Open your WiFi settings and disconnect your workstation from the camera (MSIoT_B9D4B6). Note that your workstation and this camera should be on the same Wi-Fi network in order to view the web stream. You should be able to see the camera video output within minutes. Make sure it is plugged in to an HDMI monitor .

[2020-06-24 22:02] v-prsasa commented on #318
@lokijota Hey,
As per my investigation there is no upgraded version of python. You can follow the below link :
https://azure.github.io/Vision-AI-DevKit-Pages/docs/SetUp_VS_Code/#setup-and-configure-vs-code-for-container-deployment

Even for windows the latest on is python 3.7
![image](https://user-images.githubusercontent.com/58968154/85632212-891cc300-b694-11ea-94ca-8dd042c63e73.png)

[2020-06-24 23:33] lokijota commented on #318
Hi. What I mean is this: the device is running 3.5.3. Can I update to 3.8.3, the latest version? Will it break the SDK?

Link to 3.8.3 here: https://www.python.org/downloads/release/python-383/

[2020-06-25 14:50] Pratheek-Dev commented on #317
Thanks for your help @v-prsasa . I have the webstream working now, but the HDMI is still having issues, I'll try with another cable just in case.

[2020-06-25 17:08] v-prsasa commented on #317
@Pratheek-Dev Great, Thanks for the update Pratheek . So can we close this case now or do you need further support?

[2020-06-25 21:39] v-prsasa commented on #318
@lokijota Hi Joao, AS I have tested and it is working fine So you can go forward and update to 3.8.3, It won't break the SDK.

[2020-06-26 19:02] v-prsasa commented on #317
@Pratheek-Dev Can we close this case now? or you need further support?

[2020-06-26 19:11] Pratheek-Dev commented on #317
@v-prsasa I'm attempting to find another HDMI monitor/cable to test with, since the output isn't shown via HDMI.

[2020-06-26 19:12] v-prsasa commented on #317
Ok no issues, Once you are done kindly update us.

[2020-06-30 01:51] v-prsasa commented on #318
@lokijota Can we close this issue if no further support is required?

[2020-06-30 22:41] lokijota commented on #318
Yes, go ahead. Thanks.

[2020-07-01 01:29] v-prsasa commented on #318
Closing as per the user confirmation.

[2020-07-01 01:29] #318 closed

[2020-07-06 07:38] v-prsasa commented on #317
@Pratheek-Dev Hey Pratheek, Is your issue resolved with HDMI cable?

[2020-07-07 17:08] Pratheek-Dev commented on #317
Hi @v-prsasa I tested with a new monitor and it works now! looks like it doesn't work on some monitors.

[2020-07-07 17:08] #317 closed

[2020-07-15 03:00] Pratheek-Dev opened #319 "Corporate WiFi SSID not found/ browser authentication issue"
**At home wifi setting**
At home WiFI I have no trouble connecting the cameras to the internet. I am able to connect to the device and set up the wifi by selecting the WiFi SSID of my network from the http://setupaicamera.ms/ webpage.

**While in a corporate Wifi:**
I am trying to install the 3 cameras in a hospital, where they have wifi networks which require you to type in a password into a web

[2020-07-15 03:32] v-prsasa commented on #319
@Pratheek-Dev We are looking into it.

[2020-07-15 09:24] v-ragala commented on #319
@Pratheek-Dev Thank you for providing more information about the hospital corporate network.
As per your information i got your question. you are able to connect your  camera at your home Wi-Fi mean over the broadband connection and when you came into one of the corporate network they have their own private network which is manageable. At your home which is unmanageable network where we can easily

[2020-07-15 20:57] jkubicka commented on #319
Hi @Pratheek-Dev Being unable to connect the device to a corporate Wi-Fi network may be due to an existing firewall - you'll need to register the device MAC address with your IT department. The corporate Wi-Fi network should appear in the Wi-Fi drop-down list once it's registered.

[2020-07-15 22:54] Pratheek-Dev commented on #319
Thanks @v-ragala @jkubicka . Just wanted to confirm if this will method would also avoid the additional authentication via webpage?

[2020-07-15 23:34] jkubicka commented on #319
@Pratheek-Dev Could you please provide a screenshot?

[2020-07-15 23:58] MS-Nikunja commented on #319
Hi @Pratheek-Dev, we can continue the discussion here, it will be more easy to track the conversation here. We will wait for you to provide the screenshot.

[2020-07-16 00:03] Pratheek-Dev commented on #319
Thanks @MS-Nikunja I've requested the customer to send a screenshot.

[2020-07-17 21:10] itsjpavank opened #320 "Readme.md file cannot be found"
Refer to modules/AIVisionDevKitFaceAPIModule/python_iotcc_sdk/README.md to develop and test source code for a new AIVisionDevKitFaceAPIModule.

[2020-07-20 02:12] v-prsasa commented on #320
@itsjpavank Hi Pavan, We will look into it.

[2020-07-20 03:04] v-prsasa commented on #320
@itsjpavank You can find the README.md file here in camera sdk-
https://github.com/microsoft/vision-ai-developer-kit/blob/master/camera-sdk/README.md

[2020-07-20 13:27] MS-Nikunja commented on #319
Hi @Pratheek-Dev, Any updates on the issue?

[2020-07-20 16:07] Pratheek-Dev commented on #319
Hi @v-ragala @MS-Nikunja I've sent the images to Jan on Teams, he's helping look into this. Keep you posted on this, thanks.

[2020-07-22 19:34] v-ragala commented on #320
@itsjpavank Hi Pavan, is there any update on this. is your issue resolved?

[2020-07-23 03:56] Pratheek-Dev opened #321 "Transfer learning sample notebook fails to score"
Hi,

I've created and deployed a custom transfer learning model using the exact same code from the sample notebook here: https://github.com/microsoft/vision-ai-developer-kit/blob/master/machine-learning-notebooks/02-mobilenet-transfer-learning.ipynb

I am not able to retrieve any scores from the soda_cans sample model using the provided data in this GitHub. I have also tested with my own data set

[2020-07-23 07:34] MS-Nikunja commented on #321
Hi @Pratheek-Dev, we will get back to you on this.

[2020-07-23 07:52] v-prsasa commented on #321
@Pratheek-Dev Hi Pratheek, We are checking with the team internally whether the sample notebook is up to date or not. We will get back to you soon.

[2020-07-24 02:47] Pratheek-Dev commented on #321
Adding more information:

I've tried rebuilding the AIVisionGetStartedModule image with the retrained Soda_Cans model (trained in Azure ML Workspace). however, the same error results as mentioned in the issue:

Found result object
{"height": 0.0, "position_y": 0.0, "confidence": 91, "id": 3, "position_x": 0.0, "label": "pepsi", "width": 0.0}
Confirmation[0] received for message with result = OK

[2020-07-24 02:59] Pratheek-Dev commented on #321
@MS-Nikunja @v-prsasa Would it be easier if I shared my model.dlc file + va-snpe-engine-library_config.json that were created and registered in Azure ML Workspace? could the issue be with the snpe converter  that is being used in the notebook?

[2020-07-24 03:13] v-prsasa commented on #321
@Pratheek-Dev Thanks for the information. We will look into this?

[2020-07-24 03:17] v-prsasa commented on #321
@DavidGrob-V-MS Can you help Pratheek with this issue. As sample notebook is updated so it's not an issue with the sample notebook.

[2020-07-29 09:14] v-prsasa commented on #320
@itsjpavank Hi Pavan, Any update on the above issue ?

[2020-07-29 13:18] itsjpavank commented on #320
I'm good, please close the ticket.

Thanks,
Pavan
Sent from Phone

________________________________
From: v-prsasa <notifications@github.com>
Sent: Wednesday, July 29, 2020, 2:15 AM
To: microsoft/vision-ai-developer-kit
Cc: Pavan Jayavarapu; Mention
Subject: Re: [microsoft/vision-ai-developer-kit] Readme.md file cannot be found (#320)

@itsjpavank<https://nam06.safelinks.protection.outlook.com/?ur

[2020-07-29 13:20] MS-Nikunja commented on #320
@itsjpavank, thanks for the confirmation.

[2020-07-29 13:20] #320 closed

[2020-07-31 04:52] Pratheek-Dev commented on #321
@Hi @v-prsasa any update on this?

[2020-07-31 04:55] v-prsasa commented on #321
@Pratheek-Dev Sorry for the Delay. We have added David in this thread because he can give clear idea about the sample notebook and the error you are getting. We will check with David on this.

[2020-07-31 05:03] Pratheek-Dev commented on #321
thanks @v-prsasa, please let me know if there is any additional information needed.

[2020-07-31 05:04] v-prsasa commented on #321
@Pratheek-Dev Yeah sure.

[2020-07-31 16:53] lokijota commented on #321
Just to add a +1 here. I've never been able to get custom models running on the kit. Either the sample or models converted with snpe/qualcoom's tools.

[2020-08-04 14:24] agryguc opened #323 "Connection String ID for Altek AI Camera IoT Device"
Just curious what the syntax for the connection string ID to add the IoT device to a IoT hub in Azure during the setup process. The camera keeps trying to connect, but it hangs on this screen and eventually fails...

![Connection_String_Error](https://user-images.githubusercontent.com/60630377/89305458-a9994f00-d63c-11ea-8b7d-ee92e0e2dd52.JPG)

This is what the general syntax of the connection str

[2020-08-04 15:17] v-prsasa commented on #323
@agryguc Hi, We will look into it and get back to you asap.

[2020-08-04 18:54] v-prsasa commented on #323
@agryguc According to our testing if the camera keeps trying to connect, but it hangs on this screen and eventually fails means there is a problem with connectivity. If the network connection is slow it takes time to connect and then it fails.
If you have IoT edge connection string then give it otherwise you can go n click the next button.
Here is the link for reference- https://azure.github.io/Vi

[2020-08-05 15:12] agryguc commented on #323
@v-prsasa - thanks for your response. I dont believe there is an issue with connectivity.... I was referencing the quick-start guide throughout the process of getting it configured. What I am asking is the about the syntax for the connection string to connect the camera to Microsoft Azure? T I don't believe I am using the correct device ID or, host name or shared access key,  what are those? It st

[2020-08-05 20:07] v-prsasa commented on #323
@agryguc Yeah I understand your problem . Are you trying to configure it for first time or you have done before? If it's first time then you don't need any device ID/hostname /access key. You should click on next button and continue with further process.
Because according to our testing it's working fine.

[2020-08-05 20:08] v-prsasa commented on #321
@Devinwong Hey Devin, Can you look into this issue?

[2020-08-05 22:14] MadanKrishnan97 opened #324 "Accessing WebStream module after deploying trained model"
I have a trained model that I deploy to the Vision AI camera (Reference - [link](https://github.com/microsoft/vision-ai-developer-kit/blob/master/machine-learning-notebooks/04-Deploy-Trained-Model.ipynb)). Once I am done with this, I need to view the output of the model and the camera field using the WebStream module (Reference - [link](https://github.com/microsoft/vision-ai-developer-kit/blob/mas

[2020-08-06 01:46] MS-Nikunja commented on #324
Hi @MadanKrishnan97, we will get back to you on this.

[2020-08-06 08:24] v-ragala commented on #324
Hi @MadanKrishnan97,  Can you please refer bellow mention link for your connectivity issue. https://azure.github.io/Vision-AI-DevKit-Pages/docs/Tutorial-HOL_Using_the_VisionSample/

[2020-08-06 09:27] v-ragala commented on #324
Hi, Can you please refer below mention link for your issue. https://azure.github.io/Vision-AI-DevKit-Pages/docs/Deploy_Model_IoT_Hub/

[2020-08-06 15:28] agryguc commented on #323
@v-prsasa thanks, but intuitively that is what I initially tried (no connection string just clicking next), but it does need one to proceed as it states "invalid connection string" when you leave it blank...

![Capture](https://user-images.githubusercontent.com/60630377/89550675-ec435e80-d7d7-11ea-9cd8-6296c393b6ac.JPG)

[2020-08-06 19:16] v-prsasa commented on #323
@agryguc I am attaching my screenshots step by step for your reference. Kindly go through it.
![Picture1](https://user-images.githubusercontent.com/58968154/89572661-0f592700-d847-11ea-94f4-53c127a9acc2.png)
![Picture2](https://user-images.githubusercontent.com/58968154/89572705-20099d00-d847-11ea-868f-d8e7f19ebc10.png)
<img width="468" alt="Picture3" src="https://user-images.githubusercontent.com

[2020-08-06 19:24] agryguc commented on #323
Thanks, but I followed the setup walkthrough already, your device uses a device code to connect, this one does not.... it requries a connection ID string... I need to simply know what the synatax I should be using for this string? There are no other options like the one you suggest below:

![image](https://user-images.githubusercontent.com/60630377/89573620-dd20d880-d7f8-11ea-9e71-3a3fcfc2b66e.png

[2020-08-06 20:45] v-prsasa commented on #323
@agryguc I got your point, So according to my observation and testing the syntax i.e for hostname,shared accesskey and device id
HostName=Priyanka-Hub.azure-devices.net; SharedAccessKeyName=device; SharedAccessKey=xBdz+R5jDk7sbir4wx3FZL8H2fUOu8+AzcYTOuGCfJg=

[2020-08-06 21:07] agryguc commented on #323
@v-prsasa  thanks, where did the access key info come from? And the host name? And the shared access key name? Can you give me an idea if any of those are the SSID/password or S/N of the actual device or are they the SSH remote login credentials????

[2020-08-06 21:15] v-prsasa commented on #323
@agryguc Yeah sure, It relate to the IoT hub information that you setup in Azure.  There is Settings in that portal. In settings you have to go to Shared access policies and then you can go to device. If you click on device you can see the shared access keys. I am attaching a screenshot for your reference too.
<img width="957" alt="A1" src="https://user-images.githubusercontent.com/58968154/895834

[2020-08-06 23:06] MadanKrishnan97 commented on #324
Hello. Does it mean that I should not be doing the deployment step in this link https://github.com/microsoft/vision-ai-developer-kit/blob/master/machine-learning-notebooks/04-Deploy-Trained-Model.ipynb? Instead I should the generated URI and follow the deployment steps in the Azure wizard as suggested? Thanks!

PS: Sorry about closing the issue, it was a mistake.

[2020-08-07 02:47] Pratheek-Dev commented on #321
@v-prsasa @MS-Nikunja Any update on this?

[2020-08-07 02:51] MS-Nikunja commented on #321
@Pratheek-Dev, we are extremely sorry for the delay. We will check with Devin on this and let you know.

[2020-08-07 13:53] v-ragala commented on #324
Dear @MadanKrishnan97 Yes, both the doc is same its deep doc which I have shared you.

[2020-08-07 17:46] agryguc commented on #323
@v-prsasa thanks that makes alot more sense. I am trying to reset the camera because the SSID network isnt showing up on my computer anymore (my guess is it partially got through the configuration process and isnt allowing me to connect to it to restart the setup process again at http://setupaicamera.ms/)

I held the small reset button on the back of the device for over 30 seconds until an audible

[2020-08-07 18:28] v-prsasa commented on #323
@agryguc Actually it should work after all this reset. Can you try to do full factory reset.
Here is the link for your reference- https://azure.github.io/Vision-AI-DevKit-Pages/docs/reset/

[2020-08-07 19:04] agryguc commented on #323
Still 3 flashing red lights (setup mode) and no wifi network showing up. The first step of the reset process you sent via the link is  to press the "power button" for 5 seconds... this device has no power button, only a small pinhole reset button. Please advise.....

[2020-08-07 19:48] v-prsasa commented on #323
@agryguc Yeah you are correct that there is a small pinhole reset button, just press the "power button" for 5 seconds and restart it. Try to reset and configure everything from starting.

[2020-08-07 19:52] agryguc commented on #323
@v-prsasa  - so there is no power button on this device at all, as in it doesnt exist.... There only is the small pinhole reset button which I have tried multiple times and reset/rebooted the device, but still the SSID device wifi-network does not show up on my wifi tray and the device then continues to flash three red lights.

[2020-08-07 21:14] v-prsasa commented on #323
@agryguc  Yeah I understood your problem of SSID device wifi-network does not show up on your wifi tray. I need you to do full reset means reboot your device from scratch means- Go to this folder->PEABODY_QCS603_LE_r37-v0.5370_Perf->v0.5370_Perf and run FastbootUpgrade_v6_5 this one.and then it will work most probably. Just try it out till then I will try in my device.

[2020-08-10 01:48] Pratheek-Dev commented on #321
hi @MS-Nikunja @v-prsasa  any idea what  the issue might be? still having trouble getting custom models working, other individuals have also had the same issue

[2020-08-10 14:52] agryguc commented on #323
@v-prsasa, with the camera plugged in via USB running that batch-file fails...

![image](https://user-images.githubusercontent.com/60630377/89796368-96342b00-daf7-11ea-9dbc-3ec654b8bb9a.png)

Please let me know if there is anything else I can try.

[2020-08-10 15:45] v-prsasa commented on #323
@agryguc If the batch-file fails means the device is not plugged in via USB properly. Please just try to check whether it is connected properly via adb tool.

[2020-08-10 15:47] agryguc commented on #323
@v-prsasa - thanks, can you explain where the adb tool is located?

[2020-08-10 17:00] v-prsasa commented on #323
@agryguc Yeah sure, When you connect your device via USB cable then open command prompt and type the following command-

I am attaching screenshot for your reference-
<img width="599" alt="Image1" src="https://user-images.githubusercontent.com/58968154/89809286-f909de80-db58-11ea-8cc3-e8a01e3c4b67.PNG">

[2020-08-10 17:06] agryguc commented on #323
@v-prsasa  - no luck unfortunately

![image](https://user-images.githubusercontent.com/60630377/89809918-427f0d00-db0a-11ea-9d6c-17ea3b81f401.png)

[2020-08-10 17:57] v-prsasa commented on #323
@agryguc yes it won't work, because you have to install platform tools for this.
Kindly refer to this document- https://azure.github.io/Vision-AI-DevKit-Pages/docs/platform_tools/

[2020-08-10 18:21] agryguc commented on #323
Still no luck......

![image](https://user-images.githubusercontent.com/60630377/89816534-bde5bc00-db14-11ea-8670-c852e0387d69.png)

[2020-08-10 19:12] v-prsasa commented on #323
@agryguc Okay let me explain you with full process-
1)Download Platform-tools_r30.0.4
2)Add the platform tools path in your environment variables path i.e Go to System properties -> Advanced -> Environment variables -> Go to Path -> Add the platform tools path there -> and then click on OK
I think after this it will work.

[2020-08-10 19:22] agryguc commented on #323
@v-prsasa - still no luck.... adding the platform tools bath to the user and system variables still doesnt make a difference when I run adb devices

![image](https://user-images.githubusercontent.com/60630377/89821570-c9d57c00-db1c-11ea-9343-83996bfa6492.png)

Command prompt pops up briefly when I run adb.exe, but nothing else noticeable happens....

![image](https://user-images.githubusercontent.

[2020-08-10 19:24] v-prsasa commented on #323
@agryguc Can you tell me which firmware version you are using?

[2020-08-10 19:26] agryguc commented on #323
@v-prsasa I have never updated the firmware from what it shipped with. I dont even know how to check to be honest...

[2020-08-10 19:53] v-prsasa commented on #323
@agryguc Can you download the latest firmware from the below link-
https://azure.github.io/Vision-AI-DevKit-Pages/docs/Firmware/

[2020-08-10 19:57] agryguc commented on #323
Step 2 of the link you just sent literally contains the issue we are having with adb tools, so I haven't been able to update the firmware...... (I tried this over a week ago with no luck)... Please advise how I should proceed

![image](https://user-images.githubusercontent.com/60630377/89825185-330bbe00-db22-11ea-85ab-f7a7f141f419.png)

[2020-08-10 21:09] v-prsasa commented on #323
@agryguc Once you update the firmware to latest version it will start working. Let me check from my end once until then can you try again.

[2020-08-10 21:25] agryguc commented on #323
Understood, I have been trying to update the firmware for the past week, but I will try again. Please let me know if you figure out a workaround.

[2020-08-11 03:02] Pratheek-Dev commented on #321
Hi @MS-Nikunja @v-prsasa @Devinwong the customvision.ai models trained over the past few days are also not scoring..

[2020-08-11 03:07] MS-Nikunja commented on #321
Hi @Pratheek-Dev We are discussing it internally and that's why it is taking some time. We will update you ASAP. Thanks for the update and thank you so much for your patience.

[2020-08-11 17:12] v-prsasa commented on #321
@Pratheek-Dev Hi Pratheek,
We have an update from Devin, Please look into it.
I just try deploying a model from custom vision and it works.

Below are the screen shots.

  Loading image...   Loading image...

Regarding the AML notebooks, I was not the one who delivered that part. Not sure if Mike McCoy knows.

Afaik, the transfer learning notebooks retrains the model based on tensorflow and then c

[2020-08-11 19:11] lokijota commented on #321
Hi @v-prsasa ,

is there any way to get a custom ML model running on the camera, or plans to fix the situation you're talking about?

being limited to CustomVision.ai's models is a huge limitation, however well this works. A few months ago I trained a few models, converted with Qualcomm's tooling (which was a world of pain to set up), only to have it simply not work with no logs helping to diagnos

[2020-08-12 14:46] agryguc commented on #323
@v-prsasa - any word on how to fix this problem, still no luck updating the firmware.

[2020-08-12 19:24] v-prsasa commented on #321
@Devinwong Hi Devin , Can you please look into the above issue?

[2020-08-12 19:48] v-prsasa commented on #323
@agryguc As per my testing in the device it is working once firmware is updated.

[2020-08-12 19:49] v-prsasa commented on #324
@MadanKrishnan97 Hi , Is this issue resolved ?

[2020-08-12 20:05] agryguc commented on #323
@v-prsasa - any suggestions on how I can get update the firmware without ADB tools or use some other workaround?

[2020-08-12 20:10] v-prsasa commented on #323
@agryguc This is the only way to update firmware with adb tools which is given in the links- https://azure.github.io/Vision-AI-DevKit-Pages/docs/Firmware/#download-and-extract-the-latest-firmware

[2020-08-12 20:13] agryguc commented on #323
@v-prsasa - so what do you recommend I do then? Since ADB devices is continually not recognized and "device is not attached"? Giving me the same information that I have had for the past two weeks and was literally the first thing I tried following the issue isn't a terribly useful workaround.

[2020-08-12 20:17] v-prsasa commented on #323
@agryguc Can you please share screenshots of the steps you are following ? It will be helpful for me

[2020-08-12 21:12] v-prsasa commented on #323
@agryguc I would like to suggest you when you download the platform tools, extract the zip files and set the path of the extracted zip file (platform tools) in command prompt. I have attached the screenshot, kindly look into it.
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/58968154/90068592-88a4be00-dd0e-11ea-8d75-7b510a79d16f.png)
![MicrosoftTeams-image (2)](https://user-

[2020-08-12 21:48] agryguc commented on #323
Okay, that worked, now do I try updating the firmware?

![image](https://user-images.githubusercontent.com/60630377/90071714-0c858880-dcc4-11ea-9bcb-c4237a69ddce.png)

[2020-08-12 22:01] v-prsasa commented on #323
@agryguc No need to update now, you

[2020-08-12 22:02] v-prsasa commented on #323
@agryguc No need to update now, you can start the further process

[2020-08-12 22:09] agryguc commented on #323
@v-prsasa - after copying the windows specific batch files to the firmware directory and doubleclicking the "FastbootUpgrade_v6_5.bat" file... it still says device is not attached, despite it being recognized in the list of devices using adb devices in a separate command prompt

![image](https://user-images.githubusercontent.com/60630377/90073231-d85f9700-dcc6-11ea-83a7-bbd8bd228b0d.png)

[2020-08-12 22:26] v-prsasa commented on #323
@agryguc Which firmware version you are using? The latest one is v0.5370 and if you are using latest version then no need to perform this step. You can skip this and reboot this by using this command - adb shell cat /etc/version.

[2020-08-12 22:30] agryguc commented on #323
I dont know what firmware is on the device, how do I check that? The firmware I had downloaded was v0.5370. I will try rebooting, but using that command did not yield anything.... I am assuming I need to replace "version" with the version number?

![image](https://user-images.githubusercontent.com/60630377/90074788-ed89f500-dcc9-11ea-83e1-60505d3bb3ff.png)

[2020-08-12 22:37] v-prsasa commented on #323
@agryguc No need to replace version with version number. By using this command -adb shell cat /etc/version youcan check the firmware version. First try to reboot the device by using adb reboot command.

[2020-08-12 23:57] agryguc commented on #323
Device audibly clicked using the adb reboot command (and the flashing red lights went solid red for about 10 seconds), then returned to flashing red (setup mode).  The devices has v.0.2680 version of the firmware.

![image](https://user-images.githubusercontent.com/60630377/90079481-0e584780-dcd6-11ea-9a26-beed1281dc4e.png)

[2020-08-13 00:01] v-prsasa commented on #323
@agryguc It's the older version firmware. Please update it to latest version. You can refer to the link-https://azure.github.io/Vision-AI-DevKit-Pages/docs/Firmware/#update-the-firmware

[2020-08-13 00:05] agryguc commented on #323
@v-prsasa - yes, I did that (and have been trying to update the firmware for the past two weeks). When I run the batch file nothing happens.... after copying the windows specific batch files to the firmware directory and doubleclicking the "FastbootUpgrade_v6_5.bat" file... it still says device is not attached

![image](https://user-images.githubusercontent.com/60630377/90079858-0e0c7c00-dcd7-11ea

[2020-08-13 00:27] v-prsasa commented on #323
@agryguc Let me clear things here when you are connecting your device and running the ADB command that time ADB is showing list of the devices, once it shows the list of devices then you run the "FastbootUpgrade_v6_5.bat" file. This is the process.

[2020-08-13 00:28] agryguc commented on #323
Okay, do run it from the same cmd window? or do I double click on the batch file in the firmware directory? How do I run it from the cmd window? None of that information is stated in the firmware update link....

https://azure.github.io/Vision-AI-DevKit-Pages/docs/Firmware/#update-the-firmware

[2020-08-13 00:31] v-prsasa commented on #323
@agryguc No dont't run it from same cmd window. Double click on the batch file in the firmware directory.

[2020-08-13 00:40] v-prsasa commented on #319
@Pratheek-Dev Hey Pratheek, Is this issue resolved?

[2020-08-13 00:41] agryguc commented on #323
Okay, that hasnt worked the last 20-30 times I have tried it over the past 2 weeks.... so I doubt it will work now.... and to confirm trying that again. Still says device is not attached.

![image](https://user-images.githubusercontent.com/60630377/90081754-3054c880-dcdc-11ea-8c27-44651527e277.png)

[2020-08-13 18:12] v-prsasa commented on #323
@agryguc Did you try to reset it again ?

[2020-08-13 18:16] agryguc commented on #323
Yes, tried rebooting twice again and same thing when clicking the batchfile to update the firmware. Also, the device SSID is still not showing up in the wifi tray.

![image](https://user-images.githubusercontent.com/60630377/90171511-9dfe0480-dd6f-11ea-91d0-9635a369c9d4.png)

[2020-08-13 18:27] v-prsasa commented on #323
@agryguc According to my testing it's working, Can you check device battery level ? by using this command- adb shell cat /sys/class/power_supply/battery/capacity , Because when the battery is less than 50% this batch file won't run.

[2020-08-13 19:03] agryguc commented on #323
Battery level is 100%

![image](https://user-images.githubusercontent.com/60630377/90175855-149e0080-dd76-11ea-924e-9272dfe141e8.png)

[2020-08-13 19:19] MadanKrishnan97 commented on #324
Hi @v-ragala @v-prsasa. I haven't had the opportunity to try out the suggested method. I will try it out soon and provide an update. Thank you for your patience.

[2020-08-13 19:20] v-prsasa commented on #324
@MadanKrishnan97 Thanks for the update. We will wait for your response.

[2020-08-13 20:35] Pratheek-Dev commented on #319
Yeah we have an answer now, thanks

[2020-08-13 20:35] #319 closed

[2020-08-13 20:50] v-prsasa commented on #323
@agryguc Then it should work !

[2020-08-13 21:12] agryguc commented on #323
@v-prsasa - well it does not.... this was literally the issue since day one... please advise how I should proceed. For some reason the firmware isnt flashing....... all of this other diagnostic information just confirms the issue I originally had as I followed the instructions verbatim. Please advise. Running the batch file to flash the firmware as an administrator still does the following.

![ima

[2020-08-14 17:37] agryguc commented on #323
@v-prsasa - any ideas on why the batch file to upgrade the firmware isnt running properly?

[2020-08-14 20:23] v-prsasa commented on #323
@agryguc moslt it doesn't work when the battery power is less than 50% .

[2020-08-17 19:33] agryguc commented on #323
@v-prsasa - yes, I have ensure the battery level is 100% multiple times while trying to flash the firmware, yet it still doesn't work. Please advise as to next steps and/or workarounds....

[2020-08-18 00:42] v-prsasa commented on #323
@agryguc I have provided you all the steps and workaround still you are facing the problem. Let me check with my team internally.

[2020-08-18 13:32] agryguc commented on #323
@v-prsasa - thank you, much appreciated. I look forward to your response.

[2020-08-18 20:24] MadanKrishnan97 opened #325 "Running status of AIVisionDevKitGetStartedModule shows 'backoff'"
I am trying to deploy different models in Vision AI camera, but haven't had any luck. In order to get back to the 'original' state, I always reset the camera to ensure the AIVisionDevKitGetStartedModule is working. But the running status of this module is 'backoff'. I sometimes see the module when I 'docker container ps'. The status rarely shows as 'running'.

When I reset the device every time, I

[2020-08-18 20:34] MadanKrishnan97 commented on #325
Also, what is the correct practice to stop the device? When I restart, I add a new name to it and leave the old ones as is. Should I be deleting the old device registrations?

[2020-08-18 22:22] v-prsasa commented on #325
@MadanKrishnan97 Hi Madan, You can try from the old one as well. No need to delete the old device registration. Don't reset the device everytime. Follow this link for configuration and further process- https://azure.github.io/Vision-AI-DevKit-Pages/docs/Run_OOBE/

[2020-08-18 22:36] v-prsasa commented on #324
@MadanKrishnan97 Any updates on this issue? Is it resolved?

[2020-08-19 05:21] MadanKrishnan97 commented on #325
Hi @v-prsasa, thank you for clarification regarding the device registrations. Regarding the 'backoff', I retried to set the module using https://azure.github.io/Vision-AI-DevKit-Pages/docs/Deploy_Model_IoT_Hub/, and the running status is back to 'running'.

[2020-08-19 05:43] MadanKrishnan97 commented on #324
Hi @v-prsasa. I am having issues with deploying custom models. Though the dlc conversion happens successfully, the deployment is not successful in the device. This is a different issue, and will create a new one for the same. But regarding the WebStream module, I could not get the video access and cannot confirm what the reason is. I got a workaround by using RTSP.

[2020-08-19 06:10] MadanKrishnan97 opened #326 "Details about snpe config json"
Hi, I need more information about the config json for snpe converter. I want to convert a Tensorflow model to the dlc using convert_tf_model. I have referred to https://azure.github.io/Vision-AI-DevKit-Pages/docs/model/.

For easier comparison and understanding, let us consider the following https://github.com/microsoft/vision-ai-developer-kit/blob/master/machine-learning-notebooks/models/mobilene

[2020-08-19 06:29] MadanKrishnan97 opened #327 "Deploy converted model to device"
Hi, I converted my custom model (a .pb file) using snpe_converter.

[code]

The conversion is successful, though I am not completely sure if it is the correct conversion that I want (Refer #326). Now the next step in https://github.com/microsoft/vision-ai-developer-kit/blob/master/machine-learning-notebooks/04-Deploy-Trained-Model.ipynb is creating the image and deploying it. I reach the end of th

[2020-08-19 07:26] MS-Nikunja commented on #324
@MadanKrishnan97, Great! So we will go ahead and close this issue.

[2020-08-19 07:30] MadanKrishnan97 commented on #324
@MS-Nikunja Thank you. Yes, please do!

[2020-08-19 07:31] #324 closed

[2020-08-19 07:34] MS-Nikunja commented on #326
@MadanKrishnan97, allow us some time to figure out and we will get back to you.

[2020-08-19 07:37] MS-Nikunja commented on #327
@MadanKrishnan97, we will test and get back to you.

[2020-08-19 07:38] MadanKrishnan97 commented on #326
@MS-Nikunja Sure thing.

[2020-08-19 09:22] MS-Nikunja commented on #325
Hi @MadanKrishnan97, can you confirm that this issue is resolved?

[2020-08-19 10:50] MS-Nikunja commented on #326
Hi @MadanKrishnan97, Refer this link to convert Tensorflow model to DLC: https://developer.qualcomm.com/docs/snpe/model_conv_tensorflow.html

[2020-08-19 18:59] MadanKrishnan97 commented on #326
Hi @MS-Nikunja. I have referred to the Qualcomm documentation before opening this issue. I was unable to find details about ResultLayers and OutputLayers among others.

[2020-08-19 18:59] MadanKrishnan97 commented on #325
Hi @MS-Nikunja Yes, the issue is resolved. Issue can be closed.

[2020-08-19 19:01] v-prsasa commented on #325
@MadanKrishnan97 Thanks for the update. We are closing this case.

[2020-08-19 19:01] #325 closed

[2020-08-19 20:16] v-prsasa commented on #327
@MadanKrishnan97 Hey Madan, Can you do full reset and try again?

[2020-08-20 09:01] MS-Nikunja commented on #326
Hi @MadanKrishnan97, I am afraid there is no detailed explanation of the config.json other than https://azure.github.io/Vision-AI-DevKit-Pages/docs/model/.

To answer your questions related to the parameters:

1. Engine: Yes, if your are detecting 2 or more objects, then the output is considered multiple. Also, 'EngineOutput' and 'Engine' are the same things.

2. Network inputs and outputs can be

[2020-08-20 18:55] agryguc commented on #323
@v-prsasa - any updates with your discussions from your team internally?

[2020-08-20 20:04] v-prsasa commented on #323
@agryguc Yes, Everyone is able to connect it to adb and fastboot upgrade works for them. Still wondering why the issue occurs with you. Have you tried again?

[2020-08-24 17:37] MadanKrishnan97 commented on #326
@MS-Nikunja Thank you. I will close the issue

[2020-08-24 17:37] #326 closed

[2020-08-25 22:21] v-prsasa commented on #321
@Devinwong Could you please give us update on this?
@Pratheek-Dev Are you clear with Devin's reply?

[2020-08-26 02:45] MS-Nikunja commented on #327
Hey @MadanKrishnan97, Is your issue resolved?

[2020-08-26 16:57] MadanKrishnan97 commented on #327
Hi @v-prsasa @MS-Nikunja Unable to get to it. I will reopen if I need assistance later. Thanks.

[2020-08-26 16:57] #327 closed

[2020-08-27 09:41] kserru opened #328 "Issue when running own model from customvision.ai"
Dear,

A couple of weeks ago, I started experimenting with my Vision AI DevKit.
Everything was working fine when I applied a custom model from customvision.

Last week I started training a new model, but that appaered to be not working.
When I redeployed my model from before, it also is no longer working.
I deploy my models as explained in the help pages, by replacing the ModelZipUrl.

What I foun

[2020-08-27 10:21] v-iskha commented on #328
@kserru - Hi Karel, We are working on this and we'll get back to you ASAP.

[2020-08-27 20:24] v-prsasa commented on #328
@DavidGrob-V-MS Hi David, Can you please look into this issue?

[2020-09-01 16:17] MatthiasSanchez commented on #328
Hello, I think I have the same problem impossible to use the exported templates. is there a solution?

[2020-09-22 03:20] v-prsasa commented on #321
@Pratheek-Dev Any update on this issue?

[2020-09-23 08:08] v-prsasa commented on #321
@Pratheek-Dev We are closing this case as there is no response from your end, kindly reopen this issue if required.

[2020-09-23 08:08] #321 closed

[2020-09-23 08:28] v-prsasa commented on #323
@agryguc Any update on this issue?

[2020-09-23 11:40] agryguc commented on #323
Unfortunately not, still having the same issues as previous. Unable to flash new firmware.

-Andrew
________________________________
From: v-prsasa <notifications@github.com>
Sent: Wednesday, September 23, 2020 4:28:37 AM
To: microsoft/vision-ai-developer-kit <vision-ai-developer-kit@noreply.github.com>
Cc: agryguc <agryguc@uwaterloo.ca>; Mention <mention@noreply.github.com>
Subject: Re: [microsof

[2020-09-30 11:31] kserru commented on #328
@v-iskha : were you able to identify the issue?

[2020-10-01 01:39] v-iskha commented on #328
@kserru - Hello, we have escalated this issue and I am currently awaiting to hear from them. I have already sent a follow-up on the same. Will update once I have any news from them. Thankyou for your patience.

[2020-10-08 13:16] v-iskha commented on #260
Under consideration for future updates.

[2020-10-08 13:16] #260 closed

[2020-10-08 13:16] v-iskha commented on #259
Under consideration for future updates.

[2020-10-08 13:16] #259 closed

[2020-10-08 13:16] v-iskha commented on #166
Under consideration for future updates.

[2020-10-08 13:16] #166 closed

[2020-10-08 13:17] v-iskha commented on #124
Under consideration for future updates.

[2020-10-08 13:17] #124 closed

[2020-10-08 13:17] v-iskha commented on #96
Under consideration for future updates.

[2020-10-08 13:17] #96 closed

[2020-10-08 13:17] v-iskha commented on #75
Under consideration for future updates.

[2020-10-08 13:17] #75 closed

[2020-10-14 12:38] martinsipka commented on #328
Is there any workaround for this problem? Does the model one trains and converts using SNPE converter work? Or does one have to build the docker image with the model from scratch to function? Please let me know where the problem is.

[2020-10-15 06:52] kserruys commented on #328
@martinsipka : I've tried multiple things. Normally I could just push the model to the camera by putting the modelUrl in IoT Hub on Azure. I also tried downloading the model locally and building a new docker image for my camera, with the model inside.
Both approaches didn't work.

[2020-10-15 15:22] v-prsasa commented on #323
@agryguc Closing this issue as it was camera hardware problem. provided new camera hope it works.
Kindly open new issue if required.

[2020-10-15 15:22] #323 closed

[2020-10-15 15:46] lokijota commented on #328
@martinsipka - I've tried the approach of converting via SNPE, and also couldn't get it to work. Additionally, preparing a conversion environment will take you hours, it's not a simple set up.

There have been previous issues regarding the VAIDK not running custom models, they were always closed w/out a resolution, so I don't think it actually works. The sample in the GH repo for custom models als

[2020-10-15 20:05] martinsipka commented on #328
@kserruys @lokijota Thank you for the information. I see there is no point in trying to find the solution myself. Hopefully the issue is resolved soon. It is rather unfortunate that Microsoft sells hardware that you cannot use in any way. It is not a cheap camera, not mentioning the time spent trying to make it work and the reputation lost in the eyes of my clients. Lets hope the team is at least

[2020-10-23 06:44] ghost opened #329 "camera sdk run-time error? http://<IP>:1080/vam RESPONSE: {"status":false,"reason":"Internal error"}"
Hi,
I am a new learned of Altek Vision AI DevKit. I am trying my own customvision.ai AI model. I followed the Quick Startup but find it not working on detecting Hardhat object.

Via adb shell, try to capture some logs from the corresponding container:

Shall I upgrade firmware or some container image?

Thanks for any clues

****************** logs begin **********************
Creating IoT Hub mana

[2020-10-23 07:08] ghost commented on #329
Not very sure why there are many "zero"s for PixelNorm, BlueMean, GreenMean

/data/misc/camera # cat va-snpe-engine-library_config.json
{
  "FrameworkType":0,
  "Engine":3,
  "NetworkIO":0,
  "ScaleWidth":300,
  "ScaleHeight":300,
  "PixelNorm":0,
  "BlueMean":0,
  "GreenMean":0,
  "RedMean":0,
  "TargetFPS":30,
  "ConfThreshold":0.7,
  "DLC_NAME":"model.dlc",
  "LABELS_NAME":"labels.txt",
  "Inpu

[2020-10-23 12:11] v-prsasa commented on #329
@learn-leeee Can you try to upgrade the firmware and check once.

[2020-10-23 12:26] ghost commented on #329
yes. according to
https://store.altek.com.tw/qualcomm/downloads/Azure-IoT-Starter-Kit
I am already using v0.5370, the latest one.

[2020-10-29 08:46] #329 closed, assigned to v-prsasa

[2020-11-17 10:05] othmane-alaoui opened #330 "Iotedge daemon version obsolete"
Hello I am having a problem concerning iotedge daemon on the Vision AI Dev Kit.
After updating the firmware, I run iotedge check and I got the following errors:
![image](https://user-images.githubusercontent.com/59685366/99375684-4ddd9380-28c4-11eb-9abe-d44e075eeadf.png)
I can't update the daemon because there is no package manager in Yocto. Is it possible to override the actual Linux image and in

[2020-11-17 10:08] v-prsasa commented on #330
@othmane-alaoui yes, you can try that out.

[2020-11-17 10:10] othmane-alaoui commented on #330
Thank you @v-prsasa for your answer, is there any tutorial or manual that can help me with that ?

[2020-11-17 10:16] v-prsasa commented on #330
@othmane-alaoui We don't have particular tutorial as of now. below link may help you.
https://azure.github.io/Vision-AI-DevKit-Pages/docs/Get_Started/

[2020-11-20 04:10] v-prsasa commented on #330
@othmane-alaoui Should we go ahead and close this case?

[2020-12-01 09:53] v-prsasa commented on #330
@othmane-alaoui Can we close this case now? Is the issue resolved?

[2020-12-01 09:57] othmane-alaoui commented on #330
@v-prsasa this issue is not resolved yet, I am still looking for a solution

[2020-12-17 20:56] raaznaren opened #331 "Firmware upgrade fails from 3530 to 5370"
Hello,

I´m trying to update the firmware of the devkit to 0.5370_perf. I can see my device connected via adb devices but when I click in FastbootUpgrade_v6_5.bat like the instructions said the device become disconnected (red lights) and it fails. I also follow the instructions from [here](https://azure.github.io/Vision-AI-DevKit-Pages/docs/Recover_device/#recover-vision-ai-dev-kit-hardware-after-

[2020-12-20 10:43] raaznaren commented on #331
Update: I tried with my PI 4 linux and it worked after lot of issues. Major issues found are listed below and request to correct the linux version .sh scripts.

1. Upgrade bash is not installing when the device battery is 100%. Screenshot for reference ![reference](https://user-images.githubusercontent.com/16771132/102711166-85957d80-426c-11eb-9b6e-eea7e5f61701.png)
2. Script is not checking if th

[2020-12-21 17:18] v-prsasa commented on #331
@raaznaren Please allow us some time, we are looking into this issue.

[2020-12-22 14:09] v-prsasa commented on #331
@raaznaren Hi, I would suggest instead of upgrading it in this way i.e. try to install the firmware from here-https://store.altek.com.tw/qualcomm/downloads/Azure-IoT-Starter-Kit and run it.
For me it is working fine. Try to do a factory reset if possible.

[2020-12-23 22:04] raaznaren commented on #331
@v-prsasa - As I mentioned, I already resolved using linux variant OS. My overall experience was too bad with AI Dev kit as I'd spent almost 4-5 hours to set it up and running and now having issues with pushing models.

I may not waste anymore time on this. Please go ahead and close this issue. Thanks!

[2020-12-23 22:04] #331 closed, assigned to MS-Nikunja

[2021-01-07 16:27] raju341 opened #332 "AI dev kit Device is automatically getting switched off."
Hi Team,

Microsoft AI Dev kit camera is automatically getting switched off and not turning ON for at least 2 hours. What might be the root cause? Can you please help with this issue?

Thanks in Advance!

[2021-01-08 19:27] v-iskha commented on #332
@raju341 - We have seen that sometimes the device gets turned off after battery gets drained and take time to turn ON only after the device gets charged above 30%. Let us know if the device is getting turned off even though the battery is fully charged.

[2021-01-09 01:43] raju341 commented on #332
Hey,
Thanks for getting back to me so quickly.  Yes, the device is getting
turned off even if the battery is fully charged.
It is working after couple of hours.

Thanks
Raju

On Sat, 9 Jan 2021, 12:58 am v-iskha, <notifications@github.com> wrote:

[2021-01-29 22:41] mrzutshi opened #333 "Can't connect a new device to iot edge via connection string. Also unable to update firmware."
I am setting up the Vision AI kit for the first time, which is currently using the firmware version v0.2600_Perf. I am facing a separate problem in updating the firmware to the latest version.

While configuring the device, I reach the step where my camera goes online and then it asks me to enter an iot edge connection string, while according to the documentation, I should be receiving an access c

[2021-02-02 10:20] v-prsasa commented on #333
@mrzutshi Can you try to do factory reset?

[2021-02-03 20:31] mrzutshi commented on #333
@v-prsasa I don't see an option to factory reset it as the device hasn't been set up even once yet

[2021-02-04 13:28] v-prsasa commented on #333
@mrzutshi Follow this link - https://azure.github.io/Vision-AI-DevKit-Pages/docs/reset/ and try

[2021-02-09 19:33] santle opened #334 "Custom Vision Classification Model Failure"
Trained a classification model with two classes in custom vision and generated required zip file for Vision AI Dev Kit.
The file was integrated with Module Identity Twin of AIVisionDevKitGetStartedModule
After deployment my camera is not showing any classification results and not sending any messages to IoT hub.
Logs attached.

in the log, sample.VAIDK.zip is a publicly accessible location in azur

[2021-02-10 02:14] v-iskha commented on #334
@santle - Please confirm if you have followed the steps correctly from this guide - https://azure.github.io/Vision-AI-DevKit-Pages/docs/Deploy_Model_IoT_Hub/
Also try to stream the video in RTSP, refer this guide - https://azure.github.io/Vision-AI-DevKit-Pages/docs/RTSP_stream/

[2021-02-10 02:16] v-iskha commented on #333
@mrzutshi - Did the factory reset resolved the issue for you.

[2021-02-10 02:22] v-iskha commented on #330
@othmane-alaoui -
1. Please find the latest firmware released by Altek for the Vision AI DevKit - https://azure.github.io/Vision-AI-DevKit-Pages/docs/Firmware/
2. In order to communicate with the Vision AI DevKit using a command line, including updating the firmware when needed, you will need the Android SDK Platform Tools. The Vision AI DevKit specifically uses the Android Debug Bridge (ADB) and

[2021-02-10 02:24] v-iskha commented on #332
@raju341 - How is the AI Dev Kit doing. Is it doing good or still turning OFF.

[2021-02-10 06:42] raju341 commented on #332
@v-iskha -  Somehow I figured out that the power that I am supplying to the
AI Dev kit Camera from Laptop is not sufficient, I am using the external
charger which has >=3Amp. Now, it is working fine.

Regards,
Raju

On Wed, Feb 10, 2021 at 7:54 AM v-iskha <notifications@github.com> wrote:

--

*Thanks and regards*
*S. Kanaka Raju*
Mobile: +91-9640880425 <callto:+91-9640880425>

[2021-02-10 07:30] MS-Nikunja commented on #332
@raju341, thanks for the update. we will close this issue.

[2021-02-10 07:30] #332 closed, assigned to v-iskha

[2021-02-10 19:53] santle commented on #334
Right. We followed the above steps and pushed the latest containers to the camera:

_/ # docker ps
CONTAINER ID        IMAGE                                                                    COMMAND                   CREATED             STATUS              PORTS                                                                  NAMES
f575ec24919b        mcr.microsoft.com/aivision/visionsamplemodule

[2021-02-11 08:09] v-prsasa commented on #334
@drwill-ms Hi David, Can you please look into this issue?

[2021-02-11 18:32] drwill-ms commented on #334
I don't work on the Vision AI dev kit any more, but I asked around for someone to pick it up.

[2021-02-12 07:33] v-prsasa commented on #334
@drwill-ms Thanks david.

[2021-02-23 21:25] v-iskha commented on #333
Closing as there is no response since past 19 days (already sent a reminder question 14 days back).

[2021-02-23 21:25] #333 closed, assigned to MS-Nikunja

[2021-02-23 21:27] v-iskha commented on #330
Closing this case as we don't see any response since past 14 days.

[2021-02-23 21:27] #330 closed, assigned to v-prsasa

[2021-03-05 21:31] #328 closed

[2021-03-08 21:45] thinkgandhi opened #335 "Please helpme device stopped working after first setup #245"
The same issue as #245 appearing to me. I have the latest firmware . I followed exactly as the post suggests.
I can't even reflash.

[2021-03-08 21:58] v-iskha commented on #335
@thinkgandhi - Use this [guide](https://azure.github.io/Vision-AI-DevKit-Pages/docs/reset/) to reset the device. Let us know the outcome.

[2021-03-09 06:43] thinkgandhi commented on #335
Even though I followed this guide yesterday, I couldn't able to fix it. This morning with fresh mind I started . Voila. Worked like a charm. But one thing I found is I counted 5 seconds and then I immediately looked at the list of Wifi. Looks like we need to be very quick. One more point , you have to wait for few minutes for http://setupcameraai.ms  to function. So don't rush.

[2021-03-09 06:44] #335 closed, assigned to v-iskha

[2021-04-07 21:05] maxmushkin commented on #328
v-ishka, Not clear why this issue was closed without solution or at least workaround.

[2021-04-12 10:59] AzureJedi opened #336 "Stuck with 3 solid red lights"
Hi team,

I've tried to recover from failed flash, fastbootmode flash as well as QFIL flash, all with no success.  When i hard reset the device i get stuck with 3 solid red lights, which after some time look orange.  Any idea what im doing worng and how i can get my device working again.  When i try to flash it it reboots in fastbootmode but then the update stops cos it cant find any devices.

BR,

[2021-04-12 11:01] v-prsasa commented on #336
@AzureJedi Could you please check the battery level of the device? We have observed that when battery level is less 50% we face this kind of issue.

[2021-04-12 11:04] AzureJedi commented on #336
adb shell cat /sys/class/power_supply/battery/capacity gives me 74

[2021-04-12 11:08] v-prsasa commented on #336
@AzureJedi Can you try to disconnect the device and connect again?

[2021-04-12 12:22] AzureJedi commented on #336
Yes i tried that. Lights are constant red

![image](https://user-images.githubusercontent.com/38527352/114393632-83985700-9b9a-11eb-9217-16b3cd352d52.png)

[2021-04-12 13:50] v-prsasa commented on #336
@AzureJedi I hope your device is properly connected via USB cable. Are you using latest firmware? If not then please upgrade it by following the steps given in this [link](https://azure.github.io/Vision-AI-DevKit-Pages/docs/Firmware/).

[2021-04-12 14:18] AzureJedi commented on #336
The adb tool sees teh device before teh firmware update starts... I've tried several cables with no luck. Im on an old firmware, 0.2...

[2021-04-12 16:03] v-prsasa commented on #336
@AzureJedi If you are in old firmware please can you upgrade it to latest one and try again after upgrading.

[2021-04-12 16:10] AzureJedi commented on #336
I have tried several times to run the upgrade firmware:
![image](https://user-images.githubusercontent.com/38527352/114426383-5196ed00-9bba-11eb-95a0-9c6927b1151c.png)
I used shell to see the device and the data directory is 100% full and docker is not starting...

[2021-04-14 06:53] AzureJedi commented on #336
Any ideas why the device is not recognised once it goes into fastboot mode?  Is there a way to force a factory reset or for a firmware flash another way?  I can still see the device and adb shell into it.  I managed to get the red lights flashing once but have no idea how i managed.

[2021-04-14 14:58] AzureJedi commented on #336
I've managed to get 3 flashing amber, and access to wifi. But the portal is not loading... to setup the device... Still no luck with the firmware.  if i adb shell into the device I cannot see if docker is running.  I get an error that there is no space left on the device?
![image](https://user-images.githubusercontent.com/38527352/114732079-8766dd80-9d42-11eb-9b39-3993cb0c1389.png)
![image](https:

[2021-04-14 15:01] v-prsasa commented on #336
@AzureJedi To access the portal you have t be in your network not in wifi.

[2021-04-14 15:05] AzureJedi commented on #336
I followed these steps:
From your PC, connect to a Wi-Fi network named MSIOT_xxxxxx (xxxxxx is the last 6 characters of the device’s Wi-Fi MAC address, e.g. MSIOT_BD097D). That i managed.  now I cannot seem to get the portal to load, the camera has an IP address and i can ping it. 192.168.X.X

[2021-04-15 08:20] v-prsasa commented on #336
Resolving as per the below email Confirmation.

From: Karl Davies-Barrett <karldb@microsoft.com>
Sent: Thursday, April 15, 2021 12:51 AM
To: Priyanka Sasany (MINDTREE LIMITED) <v-prsasa@microsoft.com>
Subject: Re: AIVision kit

Managed to get it working... used my mac instead of windows....
Thanks for all your support.
Karl
Get Outlook for Android

[2021-04-15 08:20] #336 closed, assigned to v-prsasa

[2021-04-29 07:42] dmitriyteteruk opened #337 "Cannot choose Export for AI Dev Kit in object detection"
![cv-error-export-AI-Dev-Kit](https://user-images.githubusercontent.com/34028526/116080005-34294f00-a6a1-11eb-85ce-7e4b41828302.JPG)

[2021-05-06 14:41] dmitriyteteruk opened #338 "Object Detection with General Compact S1 does not show anything on WebStream"
Hi! Default config works fine on mine VAIDK. I followed tutorial and trained my model **Object Detection** using **General Compact S1** domain because **General Compact** does not work with VAIDK anymore. Then I exported it and uploaded to Blob. But when I change _ModelZipUrl_ inside of _Module Identity Twin_ for _AIVisionDevKitGetStartedModule_ I cannot see anything recognized (detected) on WebSt

[2021-05-06 16:28] v-iskha commented on #334
@santle - Just following up on this ticket. Please advise do you still face this reported issue.

[2021-05-06 16:29] v-iskha commented on #337
@tsampige - Is this something you can help here Tony.

[2021-05-06 16:30] v-iskha commented on #338
@tsampige - Similar issue reported on #337.

[2021-05-06 18:09] tsampige commented on #338
What version of the azureeyemodule are you running on the device? We had addressed a bug related to running specific CV models on azureeyemodule as part of 2103-2 release. if you are no lower version of the module, then you can upgrade it by going to the azure percept studio, devices, goto vision and you'll be presented with upgrade button.

[2021-05-06 18:11] tsampige commented on #338
one thing i forgot to ask is whether this request is pertaining to model deploying on VAIDK or Azure Percept Devkit?

[2021-05-06 18:11] dmitriyteteruk commented on #338
This is all about VAIDK

[2021-05-08 06:28] 1297rohit commented on #337
I am also facing the same issue. Is there any way to solve it ?

[2021-05-11 10:33] 1297rohit commented on #338
Is there any update on this ? I also facing the same issues. The custom trained General Compact S1 model which was  trained on custom vision is not working on VAIDK.

[2021-05-11 12:38] 1297rohit commented on #338
When we update the model url then this value **"RtspDataUrl": null** is updated and after that **"VideoAnalyticsEnabled": false** After this the model is not able to predict anything. Does anyone has any idea regarding this. Why does this happen after updating the model with custom vision model instead of the default mobilenet-SSD model.

[2021-05-11 16:52] ckcampbell248 commented on #334
I am having the same issue on my VAIDK. I have updated my module twin using several different models trained and exported from CustomVision.ai. They were trained with the General Compact domain and exported in VAIDK format. I have loaded them to a public blob storage container and updated the module twin. After the update, monitoring the getting started module logs on the device shows that the upd

[2021-05-18 01:15] MikeSpark commented on #338
Same issue here, nothing is detected (bounding box not showing)

[2021-06-03 13:22] Justusjulius commented on #337
I still have the same problem? Did somebody solve it? Could it be that the account settings arent right or is there a support failure?

[2021-06-03 13:35] Justusjulius opened #339 "I cant choose VAIDK in Coustum Vision."
I would like to choose VAIDK to import in to my Camera. But this is not possible for me. Is the Camera not supported?

[2021-06-16 03:04] mimcco commented on #339
Hi @Justusjulius, unfortunately support for the VAIDK is limited and we can no longer guarantee it will remain compatible with services such as Custom Vision as it gets updated. VAIDK should no longer be an import option in Custom Vision.

[2021-06-16 03:04] #339 closed, assigned to nobody

[2021-06-28 16:46] raulbarrue opened #340 "How to save Azure Vision AI Devkit stream to Blob storage?"
The WebStreamModule streams the camera output, but I need to save that footage to a blob storage when the camera detects motion, so I can then run some computer vision AI models.

Any idea how I could implement this?

Many thanks,
Raul

PS. [Support Needed] label, can't add it to the issue.

[2021-10-05 07:30] osoroshi commented on #334
Also having this same issue anything other than the default model will not detect a labeled object something has changed with the CustomVision.ai. models ?

Does anyone at Microsoft even support this device anymore ?

[2021-12-08 15:29] sadranyi commented on #267
has this been resolved, I am still having the same issues, can someone point me to some materials and resources

[2022-01-05 16:22] firozrangwala opened #344 "Fastboot upgrade failed battery capacity is too low error when trying to upgrade to latest firmware"
Hi,
I'm trying to upgrade my Vision AI devkit to v0.5370. I've been charging the camera all night and all lights are a steady green.
I get the following error when i run FastbootUpgrade_v6_5.bat:
"Check adb device..."
"Check battery capacity..."
"Battery capacity: 1  is too low for firmware upgrade(X)"
"Fastboot upgrade fail(X)"
Press any key to continue . . .
I don't understand how the camera is

[2022-04-21 13:36] dvescovi1 opened #354 "needed refresh"
This projects is in urgent need of a refresh.
Many of the dockerfiles no longer build.
the python package links to https://modelmgmtreswcus.azureedge.net/wheels/... no longer work.
even the trouble shooting link on the main page does not work!
https://visionaidevkitsupport.azurewebsites.net/.

At least pull in some of the PR

[2022-05-06 11:37] pospanet opened #355 "Support needed - unable to do FW flash"
Hi,
I just received AI vision kit and as it had ROM version 0.2xxx I have tried to flash it first. Unfortunately, it breaks during the update and kit is now in weird state. When I list all USB Connected devices kit identifies itself like „Qualcomm HS-USB Diagnostics 900E“ with No LEDs on. If I try Factory reset by holding reset for 12+ seconds, device disconnects from USB, then re-appear as „Qualc

[2022-05-06 17:48] pospanet opened #356 "invalid web link"
After sucesfull setup od AI kit, there is a link https://aka.ms/setup-ai-camera pointing nowhere. Seems shortling no longer exist.
![Capture](https://user-images.githubusercontent.com/2960707/167187525-9b19cc1d-588d-4ab6-906b-275b6d506e2c.PNG)
.

[2022-06-02 16:58] prasadjaywant opened #360 "Support needed - Device remains offline repeatedly after 1st successful connection about 3 days back"
I could configure Vision AI DevKit and could see Webstream successfully only ONCE. For past 3 days, I'm not able to connect to Wi-Fi again. The steps followed and results are as follows;
1. Plugged in the VisionAIDevKit in the USB port.
2. All LEDs turn stable RED.
3. After 5 minutes, all LEDs turn stable GREEN.
4. Status shown: This device is offline.
5. As the device is not flashing RED, tried p

[2022-07-27 20:30] tcovich opened #363 "Support Needed - Domain sign in issue"
Hi, I am trying to setup my AI DevKit camera and running into a problem when trying to connect it to my azure account. After verifying the device with the generated code, the sign in page is giving me a 404 error when I try to sign in with my company domain. I am able to log on to the azure portal separately and the account should be valid so I am not sure why it is giving me this error. I tried c

[2022-07-30 01:15] guybridge commented on #334
Also having the same issue when using a customvision trained model. Using General (compact) domain.

[2022-10-28 11:08] sadhoss opened #364 "BUG: Firmware update source"
When trying to download the firmware update from [altek](https://store.altek.com.tw/downloads/Azure-IoT-Starter-Kit), I am requested to sign in with a Microsoft account. Post sign in, I am presented with a prompt message saying the file is not available, or that I do not have access to it.

Is this the only source for a firmware update on the VAIDK or is there other sources?

[2022-10-28 15:06] V4A001 commented on #364
I have same issue.

[2022-11-30 08:50] greeksy commented on #364
I have the same issue.. has anyone figured anything out yet?